.ListNavLink {
  line-height: 1.5rem;

  a,
  span {
    align-items: center;
    color: var(--color-gray-90);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &__icon {
    height: 1.25rem;
  }
}
