.MigrationHeader {
  margin-bottom: 1.5rem;
}

.MigrationBody {
  margin-bottom: 2rem;

  &--warning {
    margin-bottom: 1.5rem;
  }
}

.MigrationParagraph {
  color: var(--color-gray-70) !important;
}

.MigrationButton {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.MigrationReviewHeader {
  border-bottom: 1px solid var(--color-gray-40);
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}

.MigrationReviewListSection {
  border-bottom: 1px solid var(--color-gray-40);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.75rem;
  padding-bottom: 1.5rem;
}

%migrationRow {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 2.5rem;
}

.MigrationReviewListHeader {
  margin-bottom: 1rem;
}

.MigrationReviewAccountRow {
  @extend %migrationRow;
  line-height: 1.375rem;
  margin: 0 0 1.0625rem 0;
}

.MigrationReviewDescription {
  color: var(--color-gray-60);
  font-size: 0.75rem;
  line-height: 1.25rem;
  text-align: right;

  &__highlight {
    color: var(--color-white);
  }
}

.MigrationReviewDetailRow {
  @extend %migrationRow;
  color: var(--color-white);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.MigrationReviewAccountInfo {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  gap: 0.5rem;

  &--isDisabled {
    opacity: 0.5;
  }

  &__text {
    display: flex;
    gap: 0.5rem;
    line-height: 1.375rem;
  }

  &__name {
    color: var(--color-white);
    font-weight: var(--font-weight-medium);
  }

  &__identicon-wrapper {
    border: 1px solid var(--color-gray-40);
    border-radius: 2rem;
    height: 2rem;
    padding: 0.33rem;
    width: 2rem;
  }

  &__public-key {
    color: var(--color-gray-60);
  }
}

.MigrationReviewBadge {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: end;
}
