.AddToken {
  &__heading {
    display: flex;
    gap: 0.25rem;
    margin: 0.5rem 0 1rem 0;

    &__text {
      color: var(--color-gray-70);
      font-size: 0.875rem;
      margin-left: 0.15625rem;

      a {
        display: inline;
        font-weight: var(--font-weight-semi-bold);
      }
    }
  }

  &__not-found {
    display: flex;
    align-items: center;
    margin: 0.5rem 0 1rem 0;
    justify-content: center;
  }
}
