.InfoTooltip {
  display: inline-flex;
  align-items: center;
  gap: 0.3125rem;
  position: relative;

  // Make sure tooltip covers other info buttons
  &:has(.trigger--active) {
    z-index: var(--z-index-tooltip);
  }

  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--sds-clr-gray-12);

    svg {
      display: block;
      stroke: var(--sds-clr-gray-09);
    }

    @media (hover: hover) {
      &:hover {
        color: var(--sds-clr-gray-12);
      }
    }
  }
}
