.AccountList {
  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    align-items: center;

    > div {
      max-width: 15rem;
    }

    .AccountListIdenticon__active-wrapper.active {
      border-color: var(--color-white);
    }

    &::before {
      content: none !important;
    }
  }

  &__option-check {
    align-items: center;
    display: flex;
    margin-right: 1rem;
    width: 1.25rem;
  }

  &__option-tag {
    color: var(--sds-clr-gray-12);
    flex: 1;
    text-align: left;
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-top: 1.1875rem;
  }

  &__accountsWrapper {
    flex: 1;
  }

  &__footer {
    flex-shrink: 0;
  }
}
