@use "../../../styles/utils.scss" as *;

.AccountList {
  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: pxToRem(12px) pxToRem(24px);

    > div {
      max-width: 15rem;
    }

    .AccountListIdenticon__active-wrapper.active {
      border-color: var(--color-white);
    }

    &::before {
      content: none !important;
    }
  }

  &__option-check {
    align-items: center;
    color: var(--sds-clr-base-01);
    display: flex;
    width: 1.25rem;

    svg {
      height: pxToRem(20px);
      width: pxToRem(20px);
    }
  }

  &__option-tag {
    color: var(--sds-clr-gray-11);
    flex: 1;
    text-align: left;
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-top: 1.1875rem;
  }

  &__accountsWrapper {
    flex: 1;
    padding-bottom: pxToRem(12px);
  }

  &__footer {
    flex-shrink: 0;
  }
}
