.ButtonLabel {
  border: 1px solid var(--color-gray-10);
  border-radius: 6.25rem;
  color: var(--color-gray-90);
  cursor: pointer;
  display: inline-block;
  font-weight: var(--font-weight-medium);
  font-size: 0.875rem;
  margin: 3px;
  padding: 0.25rem 1rem;
  text-transform: none;
}

.CheckButton {
  opacity: 0;

  &:focus + label {
    outline-color: rgb(153, 200, 255);
    outline-offset: 1px;
    outline-style: auto;
    outline-width: 1px;
  }

  &:checked + label {
    background: var(--color-gray-10);
    color: white;
  }
}
