.ButtonLabel {
  border: 1px solid var(--color-gray-10);
  border-radius: 6.25rem;
  color: var(--color-gray-90);
  cursor: pointer;
  display: inline-block;
  font-weight: var(--font-weight-medium);
  font-size: 0.875rem;
  margin: 3px;
  padding: 0.25rem 1rem;
  text-transform: none;
}

.CheckButton {
  display: none;

  &:checked + label {
    background: var(--color-gray-10);
    color: white;
  }
}
