@use "../../../styles/utils.scss" as *;

.ButtonLabel {
  border: 1px solid var(--sds-clr-gray-01);
  border-radius: 6.25rem;
  color: var(--sds-clr-gray-12);
  cursor: pointer;
  display: inline-block;
  font-weight: var(--font-weight-medium);
  font-size: 0.875rem;
  margin: 3px;
  padding: 0.25rem 1rem;
  text-transform: none;
}

.CheckButton {
  opacity: 0;

  &:focus + label {
    @include native-like-outline;
  }

  &:checked + label {
    background: var(--sds-clr-gray-01);
    color: white;
  }
}
