.BackButton {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: var(--back--button-dimension);
  padding: 0;
  width: var(--back--button-dimension);
  z-index: 2;

  &--has-copy {
    width: 3.5rem;
  }

  &__copy {
    font-size: 0.875rem;
    margin-left: 0.5rem;
  }
}
