.TransactionInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > div {
    color: var(--color-gray-60);
    line-height: 1.5rem;

    & > :nth-child(2) {
      color: var(--color-gray-90);
      margin-top: 0.25rem;
    }
  }
}
