.SubmitResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__header {
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-bottom: 0.25rem;
  }

  &__amount {
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: var(--pal-text-primary);
    margin-bottom: 1.5rem;
  }

  &__icon {
    margin-bottom: 1.5rem;

    svg {
      height: 40px;
      width: 40px;
      stroke-width: 1.5px;
    }
  }

  &__success {
    svg {
      stroke: var(--pal-success);
    }
  }

  &__fail {
    svg {
      stroke: var(--pal-error);
    }
  }

  &__identicon {
    display: flex;
    align-items: center;
    border: 1px solid var(--pal-background-secondary);
    border-radius: 100px;
    padding: 0.25rem 0.5rem;

    img {
      width: 1rem;
      height: 1rem;
      border-radius: 1rem;
      background: var(--pal-brand-primary-on);
      margin-right: 0.5rem;
    }

    span {
      color: var(--pal-text-primary);
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }

  &__button-rows {
    &__success {
      position: absolute;
      top: calc(var(--popup--height) - 2 * var(--continue-btn-height) - 2.5rem);
      width: calc(var(--popup--width) - 2 * var(--popup--side-padding));
      button:not(:first-child) {
        margin-top: 1rem;
      }
    }
    &__fail {
      position: absolute;
      top: calc(
        var(--popup--height) - 1 * var(--continue-btn-height) -
          var(--bottom-btn-margin)
      );
      width: calc(var(--popup--width) - 2 * var(--popup--side-padding));
    }
  }

  &__error-block {
    margin-top: 2rem;
    font-size: 0.875rem;
  }
}

.SwapAssetsIcon {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: var(--pal-text-primary);

  svg {
    width: 1rem;
    height: 1rem;
    margin: 0 0.8rem;
  }
}
