@use "../../styles/utils.scss" as *;

.MaintenanceScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: var(--sds-clr-gray-01);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__card {
    display: flex;
    flex-direction: column;
    gap: pxToRem(16px);
    background-color: var(--sds-clr-gray-03);
    border-radius: pxToRem(16px);
    padding: pxToRem(24px);
    width: 100%;
  }

  &__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: pxToRem(40px);
    height: pxToRem(40px);
    border-radius: pxToRem(8px);
    background-color: var(--sds-clr-gray-01);
    border: 1px solid var(--sds-clr-gray-04);
    flex-shrink: 0;

    svg {
      width: pxToRem(20px);
      height: pxToRem(20px);
    }
  }

  &__title {
    color: var(--sds-clr-gray-12);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: pxToRem(12px);
  }

  &__body-text {
    color: var(--sds-clr-gray-11);
    margin: 0;
  }
}
