#modal-root {
  z-index: calc(var(--back--button-z-index) + 1);
  position: absolute;
  top: 0;
  bottom: 0;
}

.WarningMessage {

  &--active {
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 2rem var(--popup--side-padding) var(--popup-vertical-padding)
      var(--popup--side-padding);
    position: absolute;
    top: 0;
    width: var(--popup--width);
    height: var(--popup--height);
  }

  &__activate-button {
    cursor: pointer;
  }

  &__backup {
    p {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }

  &__infoBlock {
    background: #32275f;
    border: none;
    border-radius: 0.5rem;
    color: var(--pal-brand-primary-on) !important;
    font-size: 0.875rem;
    margin-bottom: 1rem;
    padding: 0.875rem;

    &--high-alert {
      background: rgba(241, 50, 50, 0.32);

      .WarningMessage__icon {
        color: rgba(241, 50, 50, 1);
      }
    }

    &--warning {
      background: rgba(241, 165, 50, 0.32);

      .WarningMessage__icon {
        color: rgba(241, 165, 50, 1);
      }
    }
  }

  &__header {
    align-items: center;
    font-weight: var(--font-weight-medium);
    display: flex;
    gap: 0.625rem;
    text-transform: uppercase;
  }

  &__icon {
    color: #6432f1;
    width: 0.875rem;
  }

  &__link-wrapper {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
  }

  &__link-icon {
    height: 1.25rem;
  }

  p {
    color: var(--pal-brand-primary-on) !important;
    font-size: var(--font-size-secondary);
    line-height: 1.375rem;
  }

  &__children-wrapper {
    flex-grow: 1;

    a {
      color: var(--pal-brand-primary-on);
    }
  }
}

.ScamAssetWarning {
  z-index: var(--z-index--scam-warning);
  position: fixed;
  height: calc(var(--popup--height));
  width: var(--popup--width);
  top: 0;
  left: 0;

  &__wrapper {
    z-index: calc(var(--z-index--scam-warning) + 1);
    position: absolute;
    bottom: calc(-1 * var(--popup--height));
    height: calc(var(--popup--height) - 2rem);
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    margin-top: 2rem;
    transition: bottom var(--dropdown-animation);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    padding: var(--popup-vertical-padding) var(--account-view-padding-side) 1rem
      var(--account-view-padding-side);
  }

  &__header {
    font-weight: var(--font-weight-medium);
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--pal-text-primary);
    margin-top: 0.5rem;
  }

  &__description {
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin: 0.5rem 0 2rem 0;
  }

  &__bottom-content {
    margin-top: auto;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__code {
      color: var(--pal-text-primary);
      flex-grow: 1;
      line-height: 1.5rem;
    }

    &__domain {
      color: var(--pal-text-tertiary);
      font-size: var(--font-size-secondary);
      line-height: 1.375rem;
    }
  }

  &__btns {
    display: flex;
    column-gap: 1rem;
    margin-top: 1rem;

    // TODO - use new SDS button when ready
    .BasicButton--primary {
      --Button-color-background: #e5484d;
      --Button-color-border: #e5484d;
      background: var(--Button-color-background);
      border-color: var(--Button-color-border);
    }

    .BasicButton--primary:hover {
      border-color: #e5484d;
      background-color: var(--pal-error);
    }
  }
}

.NewAssetWarning {
  z-index: var(--z-index--scam-warning);
  position: fixed;
  height: calc(var(--popup--height));
  width: var(--popup--width);
  top: 0;
  left: 0;

  &__wrapper {
    z-index: calc(var(--z-index--scam-warning) + 1);
    position: absolute;
    bottom: calc(-1 * var(--popup--height));
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    margin-top: 2rem;
    transition: bottom var(--dropdown-animation);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    padding: var(--popup-vertical-padding) var(--account-view-padding-side);
  }

  &__header {
    text-transform: uppercase;
    color: var(--pal-text-primary);
    font-weight: var(--font-weight-medium);
    margin-bottom: 0.5rem;
  }

  &__description {
    margin-bottom: 2rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__code {
      color: var(--pal-text-primary);
      flex-grow: 1;
      line-height: 1.5rem;
    }

    &__domain {
      color: var(--pal-text-tertiary);
      font-size: var(--font-size-secondary);
      line-height: 1.375rem;
    }
  }

  &__list-divider {
    border: none;
    height: 1px;
    background: var(--pal-border-secondary);
    border-radius: 1rem;
    margin: 1.5rem 0;
  }

  &__flag {
    display: flex;
    margin-bottom: 1.5rem;
    column-gap: 0.875rem;
    &__header {
      color: var(--pal-text-primary);
      margin-bottom: 0.25rem;
    }
    &__description {
      font-size: 0.75rem;
      line-height: 1.25rem;
    }
  }

  &__btns {
    display: flex;
    column-gap: 1rem;
    margin-top: auto;
  }
}
