#modal-root {
  z-index: calc(var(--back--button-z-index) + 1);
  position: absolute;
  top: 0;
  bottom: 0;
}

.WarningMessage {
  &--active {
    background: var(--color-gray-00);
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 2rem var(--popup--side-padding) var(--popup-vertical-padding)
      var(--popup--side-padding);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
  }

  &__activate-button {
    cursor: pointer;
  }

  &__backup {
    p {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }

  &__infoBlock {
    background: var(--color-purple-20);
    border: 1px solid var(--color-purple-30);
    border-radius: 0.5rem;
    color: var(--color-white) !important;
    font-size: 0.875rem;
    margin-bottom: 1rem;
    padding: 0.5rem;

    &--high-alert {
      background: rgba(241, 50, 50, 0.32);

      .WarningMessage__icon {
        color: rgba(241, 50, 50, 1);
      }
    }

    &--warning {
      border-color: rgba(241, 165, 50, 0.32);
      background-color: rgba(94, 58, 4, 0.32);

      .WarningMessage__icon {
        color: rgba(241, 165, 50, 1);
      }
    }
  }

  &__header {
    align-items: center;
    font-weight: var(--font-weight-medium);
    display: flex;
    gap: 0.625rem;
  }

  &__icon {
    color: #6432f1;
    width: 24px;
  }

  &__default-icon {
    color: var(--color-purple-50);
    width: 24px;
  }

  &__link-wrapper {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
  }

  &__link-icon {
    height: 1.25rem;
  }

  p {
    color: var(--color-white) !important;
    font-size: var(--font-size-secondary);
    line-height: 1.375rem;
  }

  &__children-wrapper {
    flex-grow: 1;

    a {
      color: var(--color-white);
    }
  }
}

.ScamAssetWarning {
  z-index: var(--z-index--scam-warning);
  display: flex;
  position: fixed;
  height: fit-content;
  width: 100%;
  bottom: 0;
  left: 0;

  .View__inset {
    padding-bottom: 1rem;
  }

  &__box {
    display: flex;
    background-color: var(--color-red-20);
    border: 1px solid #671e22;
    border-radius: 6px;
    margin-bottom: 1.5rem;
    padding: 0.5rem;

    &__icon {
      margin: 0.25rem 0.375rem 0 0;
    }
  }

  &__wrapper {
    z-index: calc(var(--z-index--scam-warning) + 1);
    height: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    transition: bottom var(--dropdown-animation);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }

  &__header {
    font-weight: var(--font-weight-medium);
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-gray-90);
    margin-top: 0.5rem;
  }

  &__description {
    font-size: 0.75rem;
    line-height: 1.375rem;
    margin-bottom: 0.375rem;
  }

  &__list {
    font-size: 0.75rem !important;
    margin-left: 1.125rem !important;
  }

  &__footer {
    color: var(--color-gray-70);
    display: flex;
    font-size: 0.75rem;
    gap: 0.25rem;
    line-height: 1.125rem;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    &__code {
      color: var(--color-gray-90);
      flex-grow: 1;
      line-height: 1.5rem;
    }

    &__domain {
      color: var(--color-gray-60);
      font-size: var(--font-size-secondary);
      line-height: 1.375rem;
    }
  }

  &__btns {
    display: flex;
    column-gap: 1rem;
    margin-top: 1rem;

    // TODO: replace with SDS error button
    .BasicButton--primary {
      --Button-color-background: var(--color-red-60);
      --Button-color-border: var(--color-red-50);
      background: var(--Button-color-background);
      border-color: var(--Button-color-border);
    }

    .BasicButton--primary:hover {
      border-color: var(--color-red-50);
      background-color: var(var(--color-red-70));
    }
  }
}

.NewAssetWarning {
  z-index: var(--z-index--scam-warning);
  position: fixed;
  height: fit-content;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;

  .View__inset {
    padding-bottom: 1rem;
  }

  &__wrapper {
    z-index: calc(var(--z-index--scam-warning) + 1);
    display: flex;
    flex-direction: column;
    transition: bottom var(--dropdown-animation);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }

  &__header {
    text-transform: uppercase;
    color: var(--color-gray-90);
    font-weight: var(--font-weight-medium);
    margin-bottom: 0.5rem;
  }

  &__description {
    margin-bottom: 2rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__code {
      color: var(--color-gray-90);
      flex-grow: 1;
      line-height: 1.5rem;
    }

    &__domain {
      color: var(--color-gray-60);
      font-size: var(--font-size-secondary);
      line-height: 1.375rem;
    }
  }

  &__list-divider {
    border: none;
    height: 1px;
    background: var(--color-gray-30);
    border-radius: 1rem;
    margin: 1.5rem 0;
  }

  &__flag {
    display: flex;
    margin-bottom: 1.5rem;
    column-gap: 0.875rem;
    &__header {
      color: var(--color-gray-90);
      margin-bottom: 0.25rem;
    }
    &__description {
      font-size: 0.75rem;
      line-height: 1.25rem;
    }
  }

  &__btns {
    display: flex;
    column-gap: 1rem;
    margin-top: auto;
  }
}

.TokenWarning {
  z-index: var(--z-index--scam-warning);
  display: flex;
  position: fixed;
  height: fit-content;
  width: 100%;
  bottom: -1.5rem;
  left: 0;

  &__wrapper {
    align-items: center;
    z-index: calc(var(--z-index--scam-warning) + 1);
    height: 100%;
    margin-bottom: -600px;
    display: flex;
    flex-direction: column;
    background: var(--color-gray-10);
    padding: 2rem 1.5rem 0.75rem 1.5rem;
    transition: margin var(--dropdown-animation);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }

  &__icon {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  &__code,
  &__domain {
    display: flex;
    justify-content: center;
  }

  &__description {
    align-items: center;
    background: var(--color-gray-40);
    border-radius: 0.375rem;
    display: flex;
    gap: 0.25rem;
    margin: 1rem 0 1.5rem 0;
    padding: 0.125rem 0.375rem;

    &__icon {
      svg {
        color: var(--color-gray-70);
        height: 0.75rem;
        width: 0.75rem;
      }
    }

    &__text {
      color: var(--color-gray-70);
      font-size: 0.75rem;
      line-height: 1.125rem;
    }
  }

  &__flags {
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    background: var(--color-gray-20);
    padding: 0.75rem 1rem;
    width: 100%;

    &__info {
      font-size: 0.875rem;
      color: var(--color-gray-70);
      margin-bottom: 0.5rem;
    }
  }

  &__flag {
    display: flex;
    margin-bottom: 0.375rem;
    column-gap: 0.5rem;
    &__header {
      color: var(--color-white);
      font-size: 0.875rem;
      margin-bottom: 0.25rem;
    }
    &__description {
      color: var(--color-gray-70);
      font-size: 0.75rem;
      line-height: 1.25rem;
    }
    &__icon--unverified {
      color: var(--color-yellow-50);
    }
    &__content {
      color: var(--color-gray-70);
      font-size: 0.875rem;
      line-height: 1.125rem;
    }
  }

  &__bottom-content {
    margin-top: 1rem;
    width: 100%;
  }
}

.TokenTransferWarning {
  overflow-wrap: break-word;

  .TokenDetails {
    margin-bottom: 2rem;

    &__loader {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .FnName,
    .InlineLabel {
      font-weight: 600;
    }

    p {
      font-size: 0.875rem;
      line-height: 1.375rem;
      margin: 0;
    }

    .CopyText {
      width: 100%;
      .Floater {
        .CopyText__content {
          width: 100%;
          .CopyValue {
            width: 100%;

            .Value {
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}

.InvokerAuthWarning {
  overflow-wrap: break-word;
}

.ScanLabel {
  display: flex;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 0.5rem;
  padding-left: 0.25rem;

  .Icon {
    height: 16px;
    margin-right: 5px;
  }

  .Message {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

.ScanMalicious {
  background-color: var(--color-red-20);
  border: 1px solid #671e22;

  .Icon {
    .WarningMessage__icon {
      color: var(--color-red-60);
    }
  }
}

.ScanBenign {
  background-color: var(--color-green-40);
  border: 1px solid var(--color-green-50);

  .Icon {
    .WarningMessage__icon {
      color: var(--color-green-50);
    }
  }
}

.ScanMiss {
  border: 1px solid var(--color-grey-40);

  .Icon {
    .WarningMessage__icon {
      color: var(--color-grey-40);
    }
  }
}
