@use "../../styles/utils.scss" as *;

#modal-root {
  z-index: calc(var(--back--button-z-index) + 1);
  position: absolute;
  top: 0;
  bottom: 0;
}

.BlockaidByLine {
  color: var(--sds-clr-gray-11);
  display: flex;
  font-size: pxToRem(14px);
  justify-content: space-between;
  gap: pxToRem(6px);

  &__copy {
    display: flex;
    gap: pxToRem(4px);
    align-items: center;

    svg {
      margin: 0 pxToRem(6px);
    }

    .Text {
      display: flex;
      align-items: center;
    }
  }

  &__feedback {
    flex-grow: 1;
    text-align: right;

    &__button {
      cursor: pointer;
      display: inline-block;
    }
  }

  &__arrow {
    cursor: pointer;
    margin-top: pxToRem(-22px);
    width: pxToRem(16px);
  }
}

.BlockaidFeedback {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  &__details {
    resize: none;
  }

  &__background {
    position: absolute;
    // 1 higher than the default LoadingBackground to overlay any other active LoadingBackground
    z-index: calc(var(--z-index--scam-warning) + 1);
  }

  &__modal {
    position: absolute;
    z-index: calc(var(--z-index--scam-warning) + 1);
    width: pxToRem(312px);

    &__content {
      display: flex;
      flex-direction: column;
      gap: pxToRem(24px);
      margin-bottom: pxToRem(16px);
    }

    &__footer {
      display: flex;
      gap: pxToRem(8px);
    }
  }
}

.WarningMessage {
  &--active {
    background: var(--sds-clr-gray-01);
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 2rem var(--popup--side-padding) var(--popup-vertical-padding)
      var(--popup--side-padding);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
  }

  &__icon-container {
    width: pxToRem(16px);
    height: pxToRem(16px);
    margin-right: pxToRem(5px);
  }

  &__backup {
    border-radius: pxToRem(16px);
    background-color: var(--sds-clr-gray-03);
    padding: pxToRem(24px);

    &__description {
      display: flex;
      font-size: pxToRem(16px);
      color: var(--sds-clr-gray-11);
      margin-top: pxToRem(12px);
    }

    .DomainNotAllowedWarning {
      display: flex;
      justify-content: space-between;
      align-self: stretch;
      justify-content: space-between;

      .ConnectionWarning {
        font-size: pxToRem(14px);
      }
    }

    &__tips {
      display: flex;
      flex-direction: column;

      &__icon {
        width: 20px;
        height: 20px;
        margin-right: pxToRem(16px);
      }

      &__row {
        display: flex;
        align-items: center;
        margin-top: pxToRem(24px);

        svg {
          color: var(--sds-clr-lime-10);
        }

        span {
          font-size: pxToRem(14px);
          line-height: pxToRem(20px);
        }
      }
    }
  }

  &__infoBlock {
    background: var(--sds-clr-lilac-03);
    border-radius: pxToRem(16px);
    color: var(--sds-clr-lilac-11);
    font-size: 0.875rem;
    padding: pxToRem(16px) pxToRem(12px);

    &--high-alert {
      background-color: var(--sds-clr-red-09);
      color: var(--sds-clr-red-11);
      border-radius: pxToRem(16px);
      padding: pxToRem(16px) pxToRem(12px);

      .WarningMessage__icon {
        width: pxToRem(16px);
        height: pxToRem(16px);
        color: var(--sds-clr-red-09);
      }
    }

    &--warning {
      background-color: var(--sds-clr-amber-03);
      color: var(--sds-clr-amber-11);
      border-radius: pxToRem(16px);
      padding: pxToRem(16px) pxToRem(12px);

      .WarningMessage__icon {
        width: pxToRem(16px);
        height: pxToRem(16px);
        color: var(--sds-clr-amber-11);
      }
    }
  }

  &__header {
    align-items: center;
    font-weight: bold;
    display: flex;
    gap: 0.625rem;

    svg {
      width: pxToRem(16px);
      height: pxToRem(16px);
    }
  }

  &__default-icon {
    color: var(--sds-clr-lilac-05);
    width: 24px;
  }

  &__link-wrapper {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
  }

  &__link-icon {
    height: 1.25rem;
  }

  p {
    color: var(--sds-clr-white) !important;
    font-size: var(--font-size-secondary);
    line-height: 1.375rem;
  }

  &__children-wrapper {
    flex-grow: 1;
    word-break: break-word;
    margin-top: pxToRem(12px);

    a {
      color: var(--sds-clr-white);
    }
  }
}

.ScamAssetWarning {
  height: 100vh;
  z-index: var(--z-index--scam-warning);
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &--isTrustline {
    position: fixed;
    height: auto;
  }

  .Button {
    white-space: nowrap !important;
  }

  .View__inset {
    background: none;
    padding: 0.5rem;
  }

  &__alert {
    flex-grow: 2;
  }

  &__box {
    background-color: var(--sds-clr-red-03);
    border-radius: 16px;
    padding: pxToRem(12) pxToRem(16px);

    &:not(:first-child) {
      margin-top: pxToRem(12px);
    }

    &__content {
      display: flex;
      align-items: center;
      height: fit-content;
    }

    &__icon {
      margin: 0.125rem 0.375rem 0 0;
    }

    &--isWarning {
      background-color: var(--sds-clr-amber-02);
      border: 1px solid var(--sds-clr-amber-06);
    }
  }

  &__wrapper {
    z-index: calc(var(--z-index--scam-warning) + 1);
    height: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    transition: bottom var(--dropdown-animation);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }

  &__header {
    font-weight: var(--font-weight-medium);
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--sds-clr-gray-12);
    margin-top: 0.5rem;
  }

  &__description {
    font-size: pxToRem(14px);
    line-height: 1.125rem;
    color: var(--sds-clr-red-11);
    word-break: break-word;
  }

  &__list {
    font-size: 0.75rem !important;
    line-height: 1.125rem !important;
    margin-left: 0.5rem !important;

    .CopyValue {
      svg {
        width: 0.5rem;
        height: 0.5rem;
      }

      .Value {
        margin-left: 0.125rem;
      }
    }
  }

  &__footer {
    color: var(--sds-clr-gray-11);
    display: flex;
    font-size: 0.75rem;
    gap: 0.25rem;
    line-height: 1.125rem;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    &__code {
      color: var(--sds-clr-gray-12);
      flex-grow: 1;
      line-height: 1.5rem;
    }

    &__domain {
      color: var(--sds-clr-gray-12);
      font-size: var(--font-size-secondary);
      line-height: 1.375rem;
    }
  }

  &__btns {
    display: flex;
    column-gap: 1rem;
    margin-top: 1rem;
  }
}

.TokenWarning {
  z-index: var(--z-index--scam-warning);
  display: flex;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;

  &__wrapper {
    z-index: calc(var(--z-index--scam-warning) + 1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--sds-clr-gray-01);
    padding: 2rem 1.5rem 0.75rem 1.5rem;
    transition: margin var(--dropdown-animation);
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__bottom-content {
    margin-top: 1rem;
    width: 100%;
  }

  &__icon {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;

    .AccountAssets__asset--logo {
      margin-right: 0;
    }
  }

  &__code,
  &__domain {
    display: flex;
    font-size: pxToRem(14px);
    justify-content: center;
  }

  &__domain {
    color: var(--sds-clr-gray-11);
  }

  &__description {
    align-items: center;
    background: var(--sds-clr-gray-04);
    border-radius: 0.375rem;
    display: flex;
    gap: 0.25rem;
    margin: 1rem 0 1.5rem 0;
    padding: 0.125rem 0.375rem;

    &__icon {
      svg {
        color: var(--sds-clr-gray-12);
        height: 0.75rem;
        width: 0.75rem;
      }
    }

    &__text {
      color: var(--sds-clr-gray-11);
      font-size: 0.75rem;
      line-height: 1.125rem;
    }
  }

  &__flags {
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    background: var(--sds-clr-gray-02);
    padding: 0.75rem 1rem;
    width: 100%;

    &__info {
      font-size: 0.875rem;
      color: var(--sds-clr-gray-12);
      margin-bottom: 0.5rem;
    }
  }

  &__flag {
    display: flex;
    margin-bottom: 0.375rem;
    column-gap: 0.5rem;
    &__header {
      color: var(--sds-clr-white);
      font-size: 0.875rem;
      margin-bottom: 0.25rem;
    }
    &__description {
      color: var(--sds-clr-gray-12);
      font-size: 0.75rem;
      line-height: 1.25rem;
    }
    &__icon--unverified {
      color: var(--sds-clr-amber-09);
    }

    &__icon--invalid-format {
      svg {
        color: var(--sds-clr-gray-09);
      }
    }
    &__content {
      color: var(--sds-clr-gray-11);
      font-size: 0.875rem;
      line-height: 1.125rem;
    }
  }
}

.TokenTransferWarning {
  overflow-wrap: break-word;

  .TokenDetails {
    margin-bottom: 2rem;

    &__loader {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .FnName,
    .InlineLabel {
      font-weight: 600;
    }

    p {
      font-size: 0.875rem;
      line-height: 1.375rem;
      margin: 0;
    }

    .CopyText {
      width: 100%;
      .Floater {
        .CopyText__content {
          width: 100%;
          .CopyValue {
            width: 100%;

            .Value {
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}

.ScanLabel {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  border-radius: 16px;
  cursor: pointer;
  margin-bottom: pxToRem(16px);

  &:not(:first-child) {
    margin-top: pxToRem(12px);
  }

  &__Info {
    display: flex;
    align-items: center;
  }

  &__Action {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Icon {
    height: 16px;
    margin-right: 5px;
  }

  .Message {
    font-size: pxToRem(14px);
    line-height: 1rem;
  }
}

.ScanMalicious {
  background-color: var(--sds-clr-red-03);
  color: var(--sds-clr-red-11);

  .Icon {
    .WarningMessage__icon {
      color: var(--sds-clr-red-11);
    }
  }
}

.ScanMiss {
  color: var(--sds-clr-amber-11);
  background-color: var(--sds-clr-amber-03);

  .Icon {
    .WarningMessage__icon {
      color: var(--sds-clr-amber-11);
    }
  }
}

.ScanWarning {
  color: var(--sds-clr-amber-11);
  background-color: var(--sds-clr-amber-03);

  .Icon {
    .WarningMessage__icon {
      color: var(--sds-clr-amber-11);
    }
  }
}

.BlockaidWarningModal {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  &__modal {
    width: 312px;
    z-index: 2;

    &__icon {
      background-color: rgba(241, 50, 50, 0.32);
      border-radius: 100px;
      display: flex;
      width: 2rem;
      height: 2rem;
      padding: 0.375rem;
      margin-bottom: 0.5rem;

      &--isWarning {
        background-color: rgba(94, 58, 4, 0.32);
      }
    }

    &__image {
      height: 1.25rem;
      width: 1.25rem;
    }

    &__title {
      display: flex;
      line-height: 1.5rem;
      margin-bottom: 1rem;
    }

    &__description {
      font-size: 0.75rem;
      line-height: 1.125rem;
      margin-bottom: 1rem;
    }

    &__byline {
      margin-bottom: 1rem;
    }
  }
}

.BlockaidDetailsExpanded {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 57rem;
  margin: 0 auto;
  padding: 12px 0;

  &__Header {
    display: flex;
    justify-content: space-between;

    .WarningMark {
      display: flex;
      width: 32px;
      height: 32px;
      padding: 5px;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1/1;
      border-radius: 8px;
      border: 1px solid var(--sds-clr-amber-06);
      background: var(--sds-clr-amber-03);

      svg {
        width: 20px;
        height: 20px;
        color: var(--sds-clr-amber-09);
      }
    }

    .WarningMarkError {
      display: flex;
      width: 32px;
      height: 32px;
      padding: 5px;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1/1;
      border-radius: 8px;
      border: 1px solid var(--sds-clr-red-06);
      background: var(--sds-clr-red-03);

      svg {
        width: 20px;
        height: 20px;
        color: var(--sds-clr-red-09);
      }
    }

    .Close {
      display: flex;
      width: 32px;
      height: 32px;
      justify-content: center;
      align-items: center;
      border-radius: 1000px;
      background: var(--sds-clr-gray-03);
      color: var(--sds-clr-gray-09);
    }
  }

  &__Title {
    display: flex;
    margin: pxToRem(16px) 0 pxToRem(8px);
    font-size: pxToRem(18px);
    font-weight: 500;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
  }

  &__SubTitle {
    font-size: pxToRem(14px);
    font-weight: 400;
    line-height: pxToRem(20px);
    margin-bottom: pxToRem(16px);
    color: var(--sds-clr-gray-11);
    text-align: left;
    width: 100%;
  }

  &__Container {
    background-color: var(--sds-clr-gray-03);
    border-radius: pxToRem(16px);
    padding: pxToRem(12px) pxToRem(16px);
    display: flex;
    flex-direction: column;
    gap: pxToRem(12px);
  }

  &__WarningsList {
    display: flex;
    flex-direction: column;
  }

  &__Divider {
    width: 100%;
    border-top: 1px solid var(--sds-clr-gray-06);
  }

  &__Details {
    display: flex;
    padding: pxToRem(12px) pxToRem(16px);
    flex-direction: column;
    justify-content: center;
    background-color: var(--sds-clr-gray-03);
    border-radius: pxToRem(16px);

    .BlockaidByLine {
      margin-top: pxToRem(12px);
      padding-top: pxToRem(12px);
      border-top: 1px solid var(--sds-clr-gray-06);
    }
  }

  &__DetailRow {
    display: flex;

    &:first-child {
      margin-top: pxToRem(8px);
    }

    &:not(:last-child) {
      margin-bottom: pxToRem(8px);
    }

    svg {
      width: 16px;
      height: 16px;
      color: var(--sds-clr-gray-09);
      margin-right: pxToRem(8px);
    }

    span {
      flex: 3;
      word-break: break-word;
      font-size: pxToRem(16px);
      font-weight: 500;
    }
  }

  &__DetailRowError {
    display: flex;

    &:first-child {
      margin-top: pxToRem(8px);
    }

    &:not(:last-child) {
      margin-bottom: pxToRem(8px);
    }

    svg {
      width: 16px;
      height: 16px;
      color: var(--sds-clr-red-09);
      margin-right: pxToRem(8px);
    }
  }
}

.BlockaidByLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__left {
    display: flex;
    align-items: center;
    gap: pxToRem(6px);
    margin-bottom: 0;
  }

  &__copyText {
    color: var(--sds-clr-gray-11);
    display: flex;
    margin-bottom: 0 !important;
    font-size: pxToRem(12px);
    font-weight: 500;
    align-items: center;
    gap: pxToRem(4px);
  }

  &__logo {
    flex-shrink: 0;
  }

  &__feedback {
    color: var(--sds-clr-lilac-11) !important;
    font-weight: 500;
    cursor: pointer;
    font-size: pxToRem(16px);
  }
}
