:root {
  --z-index--banner: 10;

  // popup dimensions
  --popup--width: 360px;
  --popup--height: 600px;
  --popup--side-padding: 1.5rem;
  --popup-vertical-padding: 2rem;

  --header--height: 119px;
  --bottom-nav--height: 72px;

  --fullscreen--max-width: 1100px;

  --back--button-dimension: 1rem;
  --back--button-z-index: 2;
}
