.Tabs {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__Selectors {
    display: flex;
    height: 25px;
    border: 1px solid var(--sds-clr-gray-04);
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 1rem;

    .Tab {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.25rem;
      cursor: pointer;

      &.Active {
        background-color: var(--sds-clr-gray-04);
      }

      &:first-child {
        border-right: 1px solid var(--sds-clr-gray-04);
      }

      &:last-child {
        border-left: 1px solid var(--sds-clr-gray-04);
      }
    }
  }

  &__Body {
    display: flex;
    flex-grow: 1;
    margin-bottom: 10px;
    height: 230px;
    overflow-y: auto;
  }
}
