:root {
  --AddAsset--results-height: 23.75rem;
  --AddAsset--title-height: 3rem;
}

.AddAsset {
  padding: var(--popup-vertical-padding) var(--popup--side-padding);

  &__title {
    font-size: var(--font-size-secondary);
    font-weight: var(--font-weight-medium);
    height: var(--AddAsset--title-height);
    line-height: 1.5rem;
    padding: 0.5rem 0 1rem 0;
    text-transform: uppercase;
  }

  &__infoBlock {
    .InfoBlock--info {
      border: none;
      font-size: var(--font-size-secondary);
      line-height: 1.375rem;
      padding: 0.875rem 0.875rem 0.875rem 2.5rem;
    }

    .InfoBlock__icon {
      top: 0.7rem;
    }
  }

  &__results {
    flex-grow: 1;
    height: var(--AddAsset--results-height);

    &__rows {
      height: calc(
        var(--AddAsset--results-height) - var(--AddAsset--title-height)
      );
    }
  }
}
