@use "../../../styles/utils.scss" as *;

.HistoryItem {
  cursor: pointer;

  &__row {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  &__loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__description {
    flex: 1;
    color: var(--sds-clr-gray-12);

    &__swap-label {
      display: flex;
      align-items: center;

      .swap-label-direction {
        margin: 0 pxToRem(6px);
      }
    }
  }

  &__amount {
    text-align: right;
    max-width: 45%;

    .Badge {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }

  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: pxToRem(32px);
    width: pxToRem(32px);
    border-radius: pxToRem(32px);
    margin-right: pxToRem(10px);

    &__swap-source {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      height: pxToRem(22px);
      width: pxToRem(22px);
      border-radius: pxToRem(22px);
    }

    &__swap-dest {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
      height: pxToRem(22px);
      width: pxToRem(22px);
      border-radius: pxToRem(22px);
      background-color: var(--sds-clr-gray-01);
    }

    &__bordered {
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      border-radius: pxToRem(32px);
      border: 1px solid var(--sds-clr-gray-06);
      color: var(--sds-clr-gray-09);
    }

    &__small {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
      height: pxToRem(16px);
      width: pxToRem(16px);
      padding: pxToRem(4px);
      border-radius: pxToRem(16px);
      background-color: var(--sds-clr-gray-02);
    }
  }

  &--space-between {
    justify-content: space-between;
  }

  &--action {
    display: flex;
    align-items: center;
    color: var(--sds-clr-gray-11);
  }

  &--date {
    color: var(--sds-clr-gray-11);
  }

  &--placeholder {
    color: var(--sds-clr-gray-11);
  }

  &--received,
  &--add-trustline {
    color: var(--sds-clr-green-09);
  }

  &--sent {
    transform: rotate(-0.125turn);
    color: var(--sds-clr-gray-09);
  }

  &--swap,
  &--create-account {
    color: var(--sds-clr-gray-09);
  }

  &--failed {
    color: var(--sds-clr-gray-01);
    svg {
      fill: var(--sds-clr-red-09);
    }
  }

  &__action-icon {
    display: flex;
    align-items: center;
    margin-right: 2px;
  }

  &__action-detail {
    font-size: pxToRem(14px);
    &.credit {
      color: var(--sds-clr-green-11);
    }
    &.debit {
      color: var(--sds-clr-gray-09);
    }
  }
}
