// TODO: clean-up unused props
.HistoryItem {
  color: var(--sds-clr-gray-12);
  cursor: pointer;

  &__row {
    display: flex;
  }

  &__loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    margin-right: 1rem;
    width: 2rem;

    &--default {
      width: 0.875rem;
    }

    &--received,
    &--sent {
      width: 1.2rem;
    }

    &--received {
      color: var(--color-green-60);
    }
  }

  &__operation {
    flex-grow: 2;
    line-height: 1.5rem;
  }

  &__date {
    color: var(--sds-clr-gray-11);
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  &__payment {
    line-height: 1.5rem;
  }
}
