.ManageAssetsLists {
  &__select {
    padding-left: 1.625rem !important;
  }

  &__network {
    position: absolute;
    top: 0.65rem;
    left: 1.6875rem;
  }

  &__loader {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &__list {
    margin-top: 1.5rem;
  }

  &__badge {
    display: flex;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &__subtitle {
    font-size: 0.75rem;
    color: var(--sds-clr-gray-12);
    line-height: 1.125rem;
  }
}
