.AccountMigrationStart {
  display: flex;
  flex-direction: column;

  &__button {
    display: flex;
    justify-content: flex-end;
  }

  &__body {
    margin-bottom: 2rem;

    .MigrationParagraph {
      color: var(--color-gray-70);
    }
  }
}
