.TrustlineError {
  background: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__inset {
    background: var(--sds-clr-gray-01);
    border-radius: 0.5rem;
    border: 1px solid var(--sds-clr-gray-03);
    margin: 0 auto;
    max-width: 19.5rem;
    padding: 1rem;
  }

  &__title {
    font-weight: var(--font-weight-medium);
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
  }

  &__body {
    color: var(--sds-clr-gray-12);
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
  }
}
