@use "../../styles/utils.scss" as *;

.AuthEntry {
  width: 100%;
  font-size: pxToRem(16px);
  padding: pxToRem(12px) pxToRem(16px);
  border-radius: pxToRem(16px);
  background-color: var(--sds-clr-gray-03);
  margin-top: pxToRem(12px);
  color: var(--sds-clr-lilac-11);
  cursor: pointer;

  &__TitleRow {
    display: flex;
    color: var(--sds-clr-gray-11);
    margin-bottom: pxToRem(12px);

    svg {
      margin-right: pxToRem(8px);
    }
  }

  &__InfoBlock {
    &_Inner {
      padding: pxToRem(12px) pxToRem(16px);
      border-radius: pxToRem(16px);
      background-color: var(--sds-clr-gray-02);
      margin-top: pxToRem(12px);
      font-size: pxToRem(14px);

      &__Value {
        display: flex;
        flex-direction: column;

        &:not(:first-child) {
          margin-top: pxToRem(12px);
        }

        .CopyText {
          &:not(:first-child) {
            margin-top: pxToRem(12px);
          }
        }
      }
    }

    .Operations__pair {
      align-items: center;
      color: var(--sds-clr-gray-12);
      display: flex;
      line-height: 1.5rem;
      margin-bottom: pxToRem(12px);

      & > .Operations__pair--key {
        width: 200px;
        text-overflow: ellipsis;
        color: var(--sds-clr-gray-11);
      }

      & > .Operations__pair--value {
        width: 200px;
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
      }

      &--invoke {
        flex-direction: column;
        align-items: baseline;
        color: var(--sds-clr-gray-12);
        display: flex;
        justify-content: space-between;
        line-height: 1.5rem;
      }

      &--smart-contract {
        flex-direction: column;

        pre {
          margin: 0;
        }
      }

      & > :nth-child(2) {
        color: var(--sds-clr-gray-12);
      }
    }

    .Parameters {
      display: flex;
      flex-direction: column;

      .ParameterKey {
        display: flex;
        align-items: center;
        color: var(--sds-clr-gray-11);

        svg {
          margin-left: pxToRem(8px);
        }
      }

      .ParameterValue {
        margin-top: pxToRem(8px);
        word-break: break-word;
      }
    }
  }
}

.AuthEntryContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: pxToRem(16px);
  padding: pxToRem(16px);
  border-radius: pxToRem(16px);
  background-color: var(--sds-clr-gray-03);

  &:not(:first-child) {
    margin-top: pxToRem(12px);
  }
}

.AuthEntryBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: pxToRem(8px);
  cursor: pointer;

  svg {
    color: var(--sds-clr-gray-09);
  }

  .Icon--rotate {
    flex-shrink: 0;
    transition: transform 0.2s;
  }
  .Icon--rotate.open {
    transform: rotate(90deg);
  }

  &__Title {
    display: flex;
    flex: 1;
    min-width: 0;
    overflow: hidden;

    svg {
      flex-shrink: 0;
      margin-right: pxToRem(8px);
    }

    span {
      flex: 1;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.AuthEntryContent {
  width: 100%;
  animation: fadeIn 0.2s ease-in-out;
}

.AuthEntries {
  width: 100%;
  font-size: pxToRem(16px);
  margin-top: pxToRem(12px);
  padding-top: pxToRem(12px);

  &__TitleRow {
    display: flex;
    color: var(--sds-clr-gray-11);
    margin-bottom: pxToRem(12px);

    svg {
      margin-right: pxToRem(8px);
    }
  }
}
