.SignMessage {
  height: var(--popup--height);
  overflow: hidden;
  position: relative;

  .Blob {
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-wrap: break-word;
  }

  &__inner-transaction {
    border: 1px solid var(--pal-border-primary);
    border-radius: 0.5rem;
    height: 10rem;
    opacity: 0.7;
    overflow: auto;
    padding: 1rem 2rem;
    zoom: 0.7;
  }

  &__info {
    margin-bottom: 2rem;
  }

  &__subject {
    border-bottom: 1px solid var(--pal-border-secondary);
    color: var(--pal-text-primary);
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  &__approval {
    margin-bottom: -1rem;

    &__title {
      color: rgba(255, 255, 255, 0.6);
      font-size: 0.875rem;
      line-height: 1.5rem;
    }
  }

  &__current-account {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0.5rem 0;
    width: 100%;

    &__chevron {
      display: flex;
      width: 0.75rem;
    }
  }

  &__modal {
    padding: 0.5rem 0 0.5rem 1.5rem;
  }

  &__account-not-found {
    margin-top: 1rem;
  }
}
