.ModifyAssetList {
  &__label {
    color: var(--sds-clr-gray-12);
    font-size: 0.75rem;
    line-height: 1.125rem;
    margin-bottom: 0.375rem;
  }

  &__input {
    margin-bottom: 0.25rem;
    margin-bottom: 0.5rem;
  }

  &__results {
    display: flex;
    flex-direction: column;
    height: 20rem;
    margin: 0.75rem 0;
    overflow: scroll;

    .View__inset {
      height: 100%;
    }
  }

  &__enable {
    margin-top: 2rem;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
  }

  &__submit-error {
    margin-top: auto;
  }

  &__not-found {
    color: var(--sds-clr-red-07);
    font-size: 0.75rem;
    line-height: 1.125rem;
    margin: 0 0 1.25rem 0;
  }

  &__info {
    background: var(--sds-clr-gray-02);
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;

    &__title {
      color: var(--sds-clr-gray-12);
      font-size: 0.875rem;
      line-height: 1.25rem;
    }

    &__provider {
      color: var(--sds-clr-gray-12);
      font-size: 0.75rem;
      line-height: 1.125rem;
    }

    &__description {
      color: var(--sds-clr-gray-12);
      font-size: 0.75rem;
      line-height: 1.125rem;
      margin-top: 0.75rem;
    }
  }
}
