@use "../../../styles/utils.scss" as *;

.NetworkCongestionIndicator {
  display: flex;
  margin-right: pxToRem(6px);
  align-items: baseline;

  &__level {
    width: pxToRem(6px);
    margin-right: pxToRem(2px);
    border-radius: pxToRem(24px);
    background-color: var(--sds-clr-gray-09);

    &.highlighted {
      background-color: var(--sds-clr-lime-09);
    }

    &.level-Low {
      height: 6px;
    }

    &.level-Medium {
      height: 10px;
    }

    &.level-High {
      height: 14px;
    }
  }
}
