.Settings {
  display: flex;
  flex-direction: column;

  &__header {
    margin-bottom: 2rem;
  }

  &__version {
    color: var(--sds-clr-gray-12);
    font-size: 0.875rem;
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  &__icon {
    display: flex;
    align-items: center;
    width: 1.25rem;
    height: 1.25rem;

    &__preferences,
    &__whatsNew {
      stroke: var(--sds-clr-gray-09);
    }
  }

  &__logout {
    color: var(--sds-clr-red-09);
    cursor: pointer;
  }
}
