.Settings {
  padding: 2rem 1.5rem;

  &--header {
    margin-bottom: 2rem;
  }

  &--version {
    color: var(--pal-text-tertiary);
    font-size: 0.875rem;
  }

  &--nav-link {
    line-height: 1.5rem;
    padding: 1rem 0;

    a {
      color: var(--pal-text-primary);
      display: flex;
      justify-content: space-between;
    }
  }

  &--logout {
    margin-top: 7rem;
  }
}
