$loader-dark-color: #191b22;
$loader-light-color: #444961;

.AccountAssets {
  &__asset {
    align-items: center;
    display: flex;
    color: var(--sds-clr-gray-12);
    font-size: 1rem;
    line-height: 1.5rem;

    &--has-detail {
      cursor: pointer;
    }

    &--logo {
      margin-right: 1rem;
      max-width: 2rem;
      max-height: 2rem;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    &--lp-share,
    &--soroban-token {
      border: 1px solid var(--sds-clr-gray-06);
      height: 32px;
      width: 32px;
      border-radius: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.875rem;
      font-weight: var(--font-weight-semi-bold);
      line-height: 1.5rem;
      color: var(--sds-clr-gray-12);
    }

    &--soroban-token {
      border: none;

      svg {
        margin: 0 !important;
        height: auto !important;
        width: auto !important;
      }
    }

    &--error {
      width: 32px;
      height: 32px;
      align-items: center;
      background: rgba(100, 50, 241, 0.32);
      border-radius: 2rem;
      display: flex;
      justify-content: center;

      img {
        height: 1rem;
        width: 1rem;
      }

      .ScamAssetIcon img {
        height: 100%;
        width: 100%;
      }
    }

    &--loading {
      width: 32px;
      height: 32px;
      background: linear-gradient(
        to right,
        $loader-dark-color 1%,
        $loader-light-color 25%,
        $loader-dark-color 50%
      );
      background-size: 18.75rem;
      animation: loadingAnimation 1.5s linear 0s infinite normal forwards;
      border-radius: 2rem;

      img {
        width: 0;
        height: 0;
      }
    }

    &--no-margin,
    &--modal {
      margin: 0;
    }
  }

  @keyframes loadingAnimation {
    0% {
      background-position: -9.375rem 0;
    }
    100% {
      background-position: 9.375rem 0;
    }
  }

  &__copy-left {
    flex: 5;
    min-width: 0;
    align-items: center;
    display: flex;
    font-weight: var(--font-weight-medium);

    .asset-code {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 0;
    }
  }

  &__copy-right {
    flex: 4;
    min-width: 0;
    font-weight: var(--font-weight-regular);

    .asset-amount {
      text-align: right;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 0;
    }
  }
}
