.AccountAssets {
  &__asset {
    align-items: center;
    justify-content: space-between;
    display: flex;
    color: var(--pal-text-primary);
    font-size: 1rem;
    line-height: 1.5rem;

    &--logo {
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;
    }

    &--bullet {
      @extend .AccountAssets__asset--logo;
      background: var(--pal-brand-primary);
      border-radius: 10rem;
    }
  }

  &__copy-left {
    align-items: center;
    display: flex;
    font-weight: var(--font-weight-medium);
  }

  &__copy-right {
    font-weight: var(--font-weight-normal);
  }
}
