.AccountAssets {
  // TODO: Standardize scrollbar implementation
  //https://github.com/stellar/freighter/issues/419

  height: 20.375rem;
  padding-right: var(--popup--side-padding);
  width: calc(var(--popup--width) - var(--popup--side-padding));

  &__asset {
    align-items: center;
    justify-content: space-between;
    display: flex;
    color: var(--pal-text-primary);
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1rem 0;

    &--logo {
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;
    }

    &--bullet {
      @extend .AccountAssets__asset--logo;
      background: var(--pal-brand-primary);
      border-radius: 10rem;
    }
  }

  &__copy-left {
    align-items: center;
    display: flex;
    font-weight: var(--font-weight-medium);
  }

  &__copy-right {
    font-weight: var(--font-weight-normal);
  }
}
