$loader-dark-color: #191b22;
$loader-light-color: #444961;

.AccountAssets {
  &__asset {
    align-items: center;
    justify-content: space-between;
    display: flex;
    color: var(--pal-text-primary);
    font-size: 1rem;
    line-height: 1.5rem;

    &--has-detail {
      cursor: pointer;
    }

    &--logo {
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &--lp-share {
      background: var(--pal-background-secondary);
      border-radius: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      line-height: 1.5rem;
      color: var(--pal-text-primary);
    }

    &--error {
      align-items: center;
      background: rgba(100, 50, 241, 0.32);
      border-radius: 2rem;
      display: flex;
      justify-content: center;

      img {
        height: 1rem;
        width: 1rem;
      }
    }

    &--loading {
      background: linear-gradient(
        to right,
        $loader-dark-color 1%,
        $loader-light-color 25%,
        $loader-dark-color 50%
      );
      background-size: 18.75rem;
      animation: loadingAnimation 1.5s linear 0s infinite normal forwards;
      border-radius: 2rem;

      img {
        width: 0;
        height: 0;
      }
    }
  }

  @keyframes loadingAnimation {
    0% {
      background-position: -9.375rem 0;
    }
    100% {
      background-position: 9.375rem 0;
    }
  }

  &__copy-left {
    align-items: center;
    display: flex;
    font-weight: var(--font-weight-medium);
  }

  &__copy-right {
    font-weight: var(--font-weight-normal);
  }
}
