.OperationParameters {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  width: 100%;

  .Parameter {
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--sds-clr-gray-12);

    .ParameterName {
      color: var(--sds-clr-gray-11);
    }

    .CopyText {
      width: 100%;

      .Floater {
        .CopyText__content {
          width: 100%;

          .CopyValue {
            width: 100%;

            .Value {
              width: 100%;
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
}
