@use "../../styles/utils.scss" as *;

.Onboarding {
  --Onboarding-layout-width: #{pxToRem(448px)};

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: var(--Onboarding-layout-width);
  color: var(--sds-clr-gray-12);

  @media (max-width: 832px) {
    // Center content when going from two cols to one
    width: auto !important;
  }

  .Heading {
    color: var(--sds-clr-gray-12);
  }

  .Link--secondary {
    --Link-color-default: var(--sds-clr-gray-12);
    --Link-color-hover: var(--sds-clr-gray-12);
    --Link-color-disabled: var(--sds-clr-gray-12);
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: #{pxToRem(8px)};

    &__wrapper {
      width: #{pxToRem(448px)};
    }

    &__text {
      color: var(--sds-clr-gray-11);
      margin-bottom: #{pxToRem(32px)};
    }
  }

  &__error {
    height: #{pxToRem(74px)};
    margin: 0 auto;
    padding: #{pxToRem(8px)};
    width: #{pxToRem(284px)};

    .Alert__content {
      align-items: center;
    }
  }
}
