.Onboarding {
  --Onboarding-layout-width: auto;

  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: var(--Onboarding-layout-width);
  color: var(--color-gray-70);

  @media (max-width: 832px) {
    // Center content when going from two cols to one
    width: auto !important;
  }

  .Heading {
    color: var(--color-gray-80);
  }

  .Checkbox label {
    color: var(--color-gray-70);
  }

  .Link--secondary {
    --Link-color-default: var(--color-gray-80);
    --Link-color-hover: var(--color-gray-90);
    --Link-color-disabled: var(--color-gray-70);
  }
}

.OnboardingScreen {
  display: flex;
  height: calc(100vh - var(--header--height));
  max-height: 40rem;
  max-width: 57rem;
  width: 100%;
  margin: auto;
}
