@use "../../styles/utils.scss" as *;

.AddFunds {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    gap: pxToRem(24px);
  }

  &__button {
    display: flex;
    flex-direction: column;
    gap: pxToRem(12px);
    background-color: var(--sds-clr-gray-03);
    border-radius: pxToRem(12px);
    padding: pxToRem(16px);
    cursor: pointer;

    &__text {
      display: flex;
      flex-direction: column;
      gap: pxToRem(4px);
    }

    &__title {
      color: var(--sds-clr-gray-12) !important; // sds Text override
    }

    &__description {
      color: var(--sds-clr-gray-11) !important; // sds Text override
    }

    &__qr {
      display: flex;
      align-items: center;
      justify-content: center;
      width: pxToRem(24px);
      height: pxToRem(24px);
      border-radius: 50%;
      background-color: var(--sds-clr-lilac-03);
      border: 1px solid var(--sds-clr-lilac-06);
      color: var(--sds-clr-lilac-11);

      svg {
        width: pxToRem(16px);
        height: pxToRem(16px);
      }
    }
  }

  &__onrampLogo {
    width: pxToRem(24px);
    height: pxToRem(24px);
  }

  &__error {
    color: var(--sds-clr-red-09);
    font-size: pxToRem(12px);
    font-weight: var(--font-weight-medium);
    line-height: pxToRem(18px);
    margin-top: pxToRem(8px);
  }
}
