.SelectHardwareWallet {
  display: flex;
  flex-direction: column;

  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  ul {
    padding: 0;
  }

  li {
    cursor: pointer;
    width: 19.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--sds-clr-gray-01);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 5rem;
    }
  }

  &__option:hover {
    background: var(--sds-clr-gray-01);
  }

  li::before {
    content: none !important;
  }

  &__btn-continue {
    margin-top: auto;
  }
}
