.BodyWrapper {
  h5 {
    color: var(--sds-clr-gray-12);
  }

  .Operations {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    .OpName {
      display: flex;
      align-items: center;
      margin-bottom: 0.25rem;

      &:first-child {
        margin-top: 0.5rem;
      }

      p {
        font-size: 0.75rem;
        margin-left: 0.5rem;
      }
    }
  }

  .TxInfo {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;

    .TxInfoBlock {
      display: flex;
      justify-content: space-between;

      &__title {
        display: flex;
        align-items: center;

        p {
          font-size: 0.75rem;
          margin-left: 0.5rem;
        }
      }

      &__value {
        font-size: 0.75rem;
        color: var(
          --sds-clr-gray-12
        ) !important; //sds rule does not allwo changing colors on p tags
      }
    }
  }
}
