.SummaryBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: var(--color-gray-40);
  padding: 1rem;
  overflow-y: scroll;

  h5 {
    color: var(--color-gray-70);
  }

  .Operations {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    .OpName {
      display: flex;
      align-items: center;
      margin-bottom: 0.25rem;

      &:first-child {
        margin-top: 0.5rem;
      }

      svg {
        fill: var(--color-gray-60);
      }

      p {
        font-size: 0.75rem;
        margin-left: 0.5rem;
      }
    }
  }

  .TxInfo {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;

    .TxInfoBlock {
      display: flex;
      justify-content: space-between;

      &__title {
        display: flex;
        align-items: center;

        svg {
          fill: var(--color-gray-60);
        }

        p {
          font-size: 0.75rem;
          margin-left: 0.5rem;
        }
      }

      &__value {
        font-size: 0.75rem;
        color: var(
          --color-gray-70
        ) !important; //sds rule does not allwo changing colors on p tags
      }
    }
  }
}
