.UnlockAccount {
  &__footer-label {
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 1.5rem;
    color: var(--sds-clr-gray-11);

    &__warning {
      color: var(--sds-clr-red-08);
    }
  }
}
