@use "../../../styles/utils.scss" as *;

.CollectibleDetail {
  background: var(--sds-clr-gray-01);
  position: relative;
  height: 100%;
  width: 100vw;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: pxToRem(12px);
    justify-content: center;
  }

  &__image {
    width: pxToRem(160px);
    height: pxToRem(160px);
    border-radius: pxToRem(24px);
    margin-bottom: pxToRem(12px);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__base-info {
    &__row {
      align-items: center;
      border-bottom: 1px solid var(--sds-clr-gray-06);
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding-bottom: pxToRem(12px);

      &:last-child {
        border: 0;
        padding-bottom: 0;
      }
    }
  }

  &__block {
    border-radius: pxToRem(16px);
    background: var(--sds-clr-gray-03);
    display: flex;
    flex-direction: column;
    gap: pxToRem(12px);
    padding: pxToRem(12px) pxToRem(16px);
    width: 100%;
    display: flex;

    &__label {
      color: var(--sds-clr-gray-11);
      font-size: pxToRem(14px);
      font-weight: 500;
      line-height: pxToRem(20px);
    }

    &__value {
      color: var(--sds-clr-gray-12);
      font-size: pxToRem(14px);
    }
  }

  &__attribute {
    display: flex;
    flex-direction: row;
    gap: pxToRem(12px);
  }

  &__attribute__trait {
    color: var(--sds-clr-gray-12);
    font-size: pxToRem(12px);
    font-weight: 500;
    line-height: pxToRem(18px);
  }

  &__attribute__value {
    color: var(--sds-clr-gray-11);
    font-size: pxToRem(12px);
    font-weight: 500;
    line-height: pxToRem(18px);
  }
}
