.AssetNetworkInfo {
  &__network {
    color: var(--sds-clr-gray-11);
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-top: 0.75rem;

    img {
      height: var(--TransactionDetail--icon-dimension);
      width: var(--TransactionDetail--icon-dimension);
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
