.AssetNotification {
  align-items: center;
  color: var(--sds-clr-gray-12);
  display: flex;
  font-size: 0.875rem;
  font-weight: var(--font-weight-medium);
  gap: 0.25rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;

  &__button {
    border: none;
    background: none;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
  }

  &__info {
    height: 0.875rem;
    width: 0.875rem;
  }
}
