.SendAmount {
  display: flex;
  flex-direction: column;

  align-items: center;

  &__asset-copy {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--pal-text-tertiary);
  }

  &__btn-set-max {
    margin-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  &__input-amount {
    font-size: 3rem;
    line-height: 4.5rem;
    font-weight: var(--font-weight-light);
    color: var(--pal-text-primary);
    background: none;
    border: none;
    text-align: center;
    margin: 2.75rem 0 8.5rem 0;
  }
}

.btn-continue {
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.SendTo {
  display: flex;
  flex-direction: column;

  text-align: center;

  &__input {
    color: black;
  }
}

.SendSettings {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    color: black;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
  }

  &__row-right {
    display: flex;
    align-items: center;
  }

  &__row-left {
    display: flex;
    align-items: center;

    button {
      margin-left: 0.5rem;
      width: 1rem;
    }
  }

  &__input-textarea {
    width: 100%;
    margin-top: 1rem;
  }
}

.SendConfirm {
  display: flex;
  flex-direction: column;

  text-align: center;
  &__input {
    color: black;
  }
}

.header {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: var(--font-weight-medium);
  color: var(--pal-text-primary);
}
