.ConfirmMigration {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin-top: 1rem;

  &__loader {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }
}
