@use "../../../styles/utils.scss" as *;

.SendDestinationAsset {
  display: flex;
  flex-direction: column;

  &__collectibles-section {
    margin-top: pxToRem(16);
  }

  &__collectibles-heading {
    font-size: pxToRem(14);
    line-height: pxToRem(20);
    font-weight: 600;
    padding: pxToRem(8) 0;
    color: var(--sds-clr-gray-11);
  }
}
