@use "../../../styles/utils.scss" as *;

.Operations {
  display: flex;
  flex-direction: column;

  &--header {
    display: flex;
    align-items: center;
    color: var(--sds-clr-gray-11);
    line-height: 1.5rem;
    margin-bottom: 0.5rem;

    &:not(:first-child) {
      margin-top: pxToRem(24px);
    }

    .OpType {
      font-weight: 600;
      margin-left: 0.5rem;
    }

    svg {
      margin-right: pxToRem(8px);
    }
  }

  &--item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: pxToRem(12px) pxToRem(12px);
    border-radius: pxToRem(16px);
    background-color: var(--sds-clr-gray-03);

    &:not(:first-child) {
      margin-top: pxToRem(12px);
    }

    & > .Operations__pair {
      align-items: center;
      color: var(--sds-clr-gray-12);
      display: flex;
      line-height: 1.5rem;

      &:not(:last-child) {
        margin-bottom: pxToRem(12px);
        padding-bottom: pxToRem(12px);
        border-bottom: 1px solid var(--sds-clr-gray-06);
      }

      & > .Operations__pair--key {
        flex: 2;
        text-overflow: ellipsis;
        color: var(--sds-clr-gray-11);
      }

      & > .Operations__pair--value {
        flex: 2;
        min-width: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;

        &.Operations__pair--value-expanded {
          flex: auto;
        }

        .Operations__pair--value-text {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          min-width: 0;
          max-width: 100%;

          &:has(.Floater.trigger.trigger--active) {
            overflow: visible;
          }
        }

        .CopyValue {
          svg {
            color: var(--sds-clr-gray-09);
          }
        }
      }

      &--invoke {
        flex-direction: column;
        align-items: baseline;
        color: var(--sds-clr-gray-12);
        display: flex;
        justify-content: space-between;
        line-height: 1.5rem;
      }

      &--smart-contract {
        flex-direction: column;

        pre {
          margin: 0;
        }
      }

      & > :nth-child(2) {
        color: var(--sds-clr-gray-12);
      }
    }
  }

  &--wrapper {
    margin-top: pxToRem(16px);
  }

  &__scValue {
    background: var(--sds-clr-gray-04);
    border-radius: 0.5rem;
    font-size: 0.875rem;
    margin: 0.5rem 0;
    overflow-x: scroll;
    padding: 1rem;
  }

  &--list {
    display: block;
    flex-direction: column;
    gap: 0.5rem;

    &--item {
      color: var(--sds-clr-gray-12);
      font-size: 0.75rem;
      line-height: 1.5rem;
      flex-direction: column;
    }
  }
}
