.Operations {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  &--wrapper {
    margin-bottom: 1.5rem;
  }

  &--header {
    display: flex;
    align-items: center;
    color: var(--sds-clr-gray-12);
    line-height: 1.5rem;
    margin-bottom: 0.5rem;

    .OpType {
      font-weight: 600;
      margin-left: 0.5rem;
    }
  }

  &--item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    & > .Operations__pair {
      align-items: center;
      color: var(--sds-clr-gray-12);
      display: flex;
      line-height: 1.5rem;

      & > .Operations__pair--key {
        width: 200px;
        text-overflow: ellipsis;
      }

      & > .Operations__pair--value {
        width: 200px;
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
      }

      &--invoke {
        flex-direction: column;
        align-items: baseline;
        color: var(--sds-clr-gray-12);
        display: flex;
        justify-content: space-between;
        line-height: 1.5rem;
      }

      &--smart-contract {
        flex-direction: column;

        pre {
          margin: 0;
        }
      }

      & > :nth-child(2) {
        color: var(--sds-clr-gray-12);
      }
    }
  }

  &__scValue {
    background: var(--sds-clr-gray-04);
    border-radius: 0.5rem;
    font-size: 0.875rem;
    margin: 0.5rem 0;
    overflow-x: scroll;
    padding: 1rem;
  }

  &--list {
    display: block;
    flex-direction: column;
    gap: 0.5rem;

    &--item {
      color: var(--sds-clr-gray-12);
      font-size: 0.75rem;
      line-height: 1.5rem;
      flex-direction: column;
    }
  }
}
