@use "../../../styles/utils.scss" as *;

.AccountCollectibles {
  display: flex;
  flex-direction: column;
  gap: pxToRem(24px);
  padding: pxToRem(24px) 0;

  &__toggle-hidden {
    display: flex;
    align-items: center;
    gap: pxToRem(8px);
    color: var(--sds-clr-gray-11);
    font-size: pxToRem(14px);
    font-weight: var(--sds-fw-medium);
    cursor: pointer;
    padding: pxToRem(8px) 0;

    &:hover {
      color: var(--sds-clr-gray-12);
    }

    svg {
      width: pxToRem(16px);
      height: pxToRem(16px);
    }
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: pxToRem(8px);
    padding-top: pxToRem(48px);

    &__badge {
      display: flex;
      align-items: center;
      justify-content: center;
      width: pxToRem(48px);
      height: pxToRem(48px);
      border-radius: 50%;
      background-color: var(--sds-clr-gray-03);
      color: var(--sds-clr-gray-09);
      margin-bottom: pxToRem(8px);
    }

    &__title {
      color: var(--sds-clr-gray-12);
      font-size: pxToRem(16px);
      font-weight: var(--sds-fw-medium);
      line-height: pxToRem(24px);
    }

    &__subtitle {
      color: var(--sds-clr-gray-11);
      font-size: pxToRem(14px);
      font-weight: var(--font-weight-regular);
      line-height: pxToRem(20px);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: pxToRem(24px);
  }

  &__collection {
    display: flex;
    flex-direction: column;
    gap: pxToRem(12px);

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &__name {
        color: var(--sds-clr-gray-12);
        font-size: pxToRem(14px);
        font-weight: var(--sds-fw-medium);
        line-height: pxToRem(20px);
      }

      &__right {
        display: flex;
        align-items: center;
        gap: pxToRem(8px);
        color: var(--sds-clr-gray-11);

        svg {
          width: pxToRem(16px);
          height: pxToRem(16px);
        }
      }

      &__count {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: pxToRem(24px);
        height: pxToRem(20px);
        padding: 0 pxToRem(6px);
        border-radius: pxToRem(100px);
        background-color: var(--sds-clr-gray-03);
        color: var(--sds-clr-gray-11);
        font-size: pxToRem(12px);
        font-weight: var(--sds-fw-medium);
      }
    }

    &__grid {
      display: grid;
      gap: pxToRem(16px);
      grid-template-columns: repeat(auto-fill, pxToRem(150px));
      font-size: 0;

      &__item {
        cursor: pointer;
        aspect-ratio: 1/1;
        overflow: hidden;
        border-radius: pxToRem(12px);

        &--hidden {
          opacity: 0.5;
        }
      }
    }
  }

  &__collectible-detail__sheet {
    z-index: var(--z-index-modal);
  }
}
