.NotFunded {
  background: rgba(100, 50, 241, 0.32);
  border-radius: 0.5rem;
  margin-top: 2rem;
  padding: 1rem;

  &__header {
    display: flex;
    align-items: center;
    color: var(--sds-clr-gray-12);
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: var(--font-weight-medium);
    padding-bottom: 0.25rem;

    svg {
      color: rgba(100, 50, 241, 1);
      height: 0.75rem;
      margin-left: -0.375rem;
    }
  }

  &__copy {
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-top: 0.5rem;

    a {
      color: var(--sds-clr-gray-12);
      text-decoration: underline;
    }
  }

  &__form {
    padding-top: 3.375rem;
  }
}
