.PopupWrapper {
  height: 100%;
  max-height: calc(var(--popup--height) - var(--bottom-nav--height));
  max-width: var(--popup--width);
  overflow-y: auto;
  padding: var(--popup-vertical-padding) var(--popup--side-padding);
}
