@use "../../styles/utils.scss" as *;

.SelectionTile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: pxToRem(12px) pxToRem(24px);
  background-color: var(--sds-clr-gray-03);
  border-radius: pxToRem(14px);
  cursor: pointer;
  margin-bottom: pxToRem(12px);

  &__content {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 0;
  }

  &__icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    padding: pxToRem(6px);
    border: 1px solid var(--sds-clr-gray-06);
    border-radius: pxToRem(100px);
    margin-right: pxToRem(12px);
  }

  &__text {
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  &__primary {
    font-size: pxToRem(14px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__secondary {
    font-size: pxToRem(12px);
    color: var(--sds-clr-gray-11);
    margin-top: pxToRem(4px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--empty {
    .SelectionTile__icon {
      background-color: transparent;
    }

    .SelectionTile__primary {
      font-size: pxToRem(14px);
    }
  }
}
