@use "../../../styles/utils.scss" as *;

.AccountListIdenticon {
  align-items: center;
  display: flex;

  &__active-wrapper {
    background: none;
    border-radius: 2rem;
    border-width: 1.5px;
    border-style: solid;
    border-color: var(--sds-clr-gray-03);
  }

  &__identicon-wrapper {
    background: var(--color-white);
    border-radius: 2rem;
    height: 2rem;
    width: 2rem;
    margin: 0.125rem;
    padding: 0.25rem;
  }

  &__identicon-button {
    background: none;
    border: 0;
    margin-left: pxToRem(16px);
    text-align: left;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.375rem;
    display: flex;
    flex-flow: row wrap;
    cursor: pointer;
  }

  &__account-name {
    color: var(--sds-clr-gray-12);
    margin: 0 0 0.1875rem 0;
    max-height: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-weight: var(--font-weight-medium);
  }

  &__account-num {
    color: var(--sds-clr-gray-11);
    width: 100%;
  }
}
