.ManageAssetRows {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
  }

  &--scrolling {
    padding-right: 0.625rem;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__info {
      color: var(--sds-clr-gray-12);
      flex-grow: 1;
      line-height: 1.5rem;
      &__header {
        display: flex;
      }
    }
  }

  &__icon {
    width: 2rem;
  }

  &__bullet {
    background: var(--color-purple-60);
    height: 1.5rem;
    width: 1.5rem;
  }

  &__domain {
    color: var(--sds-clr-gray-12);
    font-size: var(--font-size-secondary);
    line-height: 1.375rem;
  }
}
