.ManageAssetRows {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
  }

  &--scrolling {
    padding-right: 0.625rem;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__info {
      color: var(--color-gray-90);
      flex-grow: 1;
      line-height: 1.5rem;
      &__header {
        display: flex;
      }
    }
  }

  &__button {
    .Button {
      display: flex;
      gap: 0.25rem;
      align-items: center;
    }

    &__label {
      font-size: 0.875rem;
      font-weight: var(--font-weight-semi-bold);
    }

    &__ellipsis {
      cursor: pointer;
    }

    &__dropdown {
      border-radius: 6px;
      border: 1px solid var(--color-gray-60);
      // display: none;
      margin-top: 0.25rem;
      padding: 0.25rem;
      position: absolute;
      right: 1rem;
    }
  }

  &__icon {
    width: 2rem;
  }

  &__bullet {
    background: var(--color-purple-60);
    height: 1.5rem;
    width: 1.5rem;
  }

  &__domain {
    color: var(--color-gray-60);
    font-size: var(--font-size-secondary);
    line-height: 1.375rem;
  }
}
