@use "../../styles/utils.scss" as *;

.Buy {
  &__content {
    display: flex;
    flex-direction: column;
    gap: pxToRem(12);
  }

  &__error {
    color: var(--sds-clr-red-09);
    font-size: pxToRem(12);
    line-height: pxToRem(16);
    margin-top: pxToRem(8);
    text-align: center;
  }
}
