.TransactionDetails {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__loader {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__cards {
    margin-bottom: 1.5rem;
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Card {
      padding: 1rem;
    }

    .AccountAssets__asset--logo {
      height: 1.5rem;
    }

    .AccountAssets__asset--error img {
      width: 0.75rem;
      height: 0.75rem;
    }
  }

  &__row {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: space-between;

    &__right {
      color: var(--color-gray-90);
      overflow-y: hidden;

      &__item {
        margin-bottom: 0.25rem;
      }
    }
  }

  &__processing {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: black;
    z-index: calc(var(--back--button-z-index) + 1);
    opacity: 0.8;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;

    &__header {
      display: flex;
      color: var(--color-gray-90);
      font-weight: var(--font-weight-medium);
      align-items: center;
      span {
        margin-left: 0.5rem;
      }
    }

    &__copy {
      padding-top: 0.5rem;
      font-size: 0.875rem;
      line-height: 1.5rem;
    }
  }

  &__identicon {
    display: flex;
    align-items: center;
    img {
      width: 1rem;
      height: 1rem;
      border-radius: 1rem;
      background: var(--color-white);
      margin-right: 0.5rem;
    }
  }

  &__bottom-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: calc(
      var(--popup--height) - var(--continue-btn-height) -
        var(--bottom-btn-margin) - 2.375rem
    );
    width: calc(var(--popup--width) - 2 * var(--popup--side-padding));

    > div {
      display: flex;
      flex-direction: row;
    }

    &__buttons {
      column-gap: 1rem;
      button {
        flex: 1;
      }
    }

    &__copy {
      font-size: 0.8125rem;
      line-height: 1.375rem;
      min-height: 1.375rem;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }
}

.TwoAssetCard {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 1px solid var(--color-gray-10);
  position: relative;
  margin: -1.5rem 0 1.5rem 0;

  &__row:first-child {
    border-bottom: 1px solid var(--color-gray-10);
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 4.25rem;

    &__left {
      display: flex;
      align-items: center;
      font-weight: var(--font-weight-medium);
      color: var(--color-gray-90);
    }

    &__right {
      font-weight: var(--font-weight-medium);
      color: var(--color-gray-90);
    }
  }

  &__arrow-icon {
    position: absolute;
    top: calc((100% - 2.5rem) / 2);
    left: calc((100% - 2.5rem) / 2);
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--color-gray-10);
    border-radius: 2.5rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-gray-00);

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
