.TransactionDetails {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__cards {
    margin-bottom: 1.5rem;
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Card {
      padding: 1rem;
    }
  }

  &__row {
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: space-between;

    &__right {
      color: var(--pal-text-primary);
    }
  }

  &__processing {
    position: absolute;
    height: var(--popup--height);
    width: var(--popup--width);
    display: flex;
    background: black;
    z-index: calc(var(--back--button-z-index) + 1);
    opacity: 0.8;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;

    span {
      color: var(--pal-text-primary);
      font-weight: var(--font-weight-medium);
      margin-left: 0.5rem;
    }
  }

  &__identicon {
    display: flex;
    align-items: center;
    img {
      width: 1rem;
      height: 1rem;
      border-radius: 1rem;
      background: var(--pal-brand-primary-on);
      margin-right: 0.5rem;
    }
  }

  &__buttons-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: calc(
      var(--popup--height) - var(--continue-btn-height) -
        var(--bottom-btn-margin)
    );
    width: calc(var(--popup--width) - 2 * var(--popup--side-padding));
  }
}
