.TransactionHeading {
  border-bottom: 1px solid var(--sds-clr-gray-03);
  font-size: 0.875rem;
  font-weight: var(--font-weight-medium);
  line-height: 0.72rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
