.BackButton {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: var(--back--button-dimension);
  padding: 0;
  width: var(--back--button-dimension);
  z-index: var(--back--button-z-index);

  svg {
    fill: var(--sds-clr-gray-05);
  }

  &--has-copy {
    width: 3.75rem;
  }

  &__copy {
    font-size: 0.875rem;
    font-weight: var(--font-weight-medium);
    margin-left: 0.5rem;
    text-transform: uppercase;
  }
}
