.ConfirmMnemonicPhrase {
  &__screen {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__header {
    text-align: center;
  }

  &__content {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--font-weight-regular);
    color: var(--sds-clr-gray-12);

    p {
      color: var(--sds-clr-gray-12);
      margin-bottom: 0 !important;
    }
  }

  &__selected-words-wrapper {
    height: 7.5rem;
    width: 100%;
  }

  &__selected-words-text {
    display: flex;
    flex-wrap: wrap;
    font-weight: var(--font-weight-medium);
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--sds-clr-gray-12);
    list-style-type: none;
    padding: 0;
  }

  &__word-bubble-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: start;
    padding: 1rem 0 1.5rem;
  }
}
