.Preferences {
  font-size: 0.875rem;
  padding: var(--popup-vertical-padding) var(--popup--side-padding);

  &__simplebar {
    height: calc(
      var(--popup--height) - (var(--popup-vertical-padding) * 2) -
        var(--subview--header--height)
    );
  }

  &--section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &--title {
      color: var(--pal-text-tertiary);
      font-weight: var(--font-weight-medium);
      text-transform: uppercase;
    }
    margin-bottom: 2rem;
  }
  &--label {
    cursor: pointer;
    margin: 0;
    text-transform: none;
  }

  &--radio {
    &-check {
      align-items: center;
      display: flex;
      visibility: hidden;
      width: 1.25rem;
    }
    &-label {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    &-field {
      visibility: hidden;

      &:checked ~ .Preferences--radio-check {
        visibility: visible;
      }
    }
  }

  &--toggle {
    align-items: self-start;
    display: flex;
    justify-content: space-between;

    label {
      max-width: 21rem;
    }
  }
}
