.Preferences {
  font-size: 0.875rem;

  &--section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &--title {
      color: var(--sds-clr-gray-12);
      font-weight: var(--font-weight-medium);
    }
    margin-bottom: 2rem;
  }
  &--label {
    cursor: pointer;
    margin: 0;
    text-transform: none;
  }

  &--radio {
    &-check {
      align-items: center;
      display: flex;
      visibility: hidden;
      width: 1.25rem;
    }
    &-label {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    &-field {
      visibility: hidden;

      &:checked ~ .Preferences--radio-check {
        visibility: visible;
      }
    }
  }

  &--toggle {
    align-items: self-start;
    display: flex;
    justify-content: space-between;

    label {
      max-width: 21rem;
      line-height: 1.375rem;
    }
  }

  label.Toggle {
    margin-top: 0.25rem;
  }
}
