@use "../../styles/utils.scss" as *;

.Debug {
  padding: pxToRem(20px);
  max-width: pxToRem(600px);

  &__title {
    margin-bottom: pxToRem(8px);
  }

  &__description {
    margin-bottom: pxToRem(20px);
  }

  &__section {
    margin-top: pxToRem(20px);
  }

  &__card {
    padding: pxToRem(20px);
  }

  &__section-title {
    margin-bottom: pxToRem(10px);
  }

  &__section-description {
    margin-bottom: pxToRem(20px);
    color: var(--sds-clr-gray-11);
  }

  &__override-banner {
    padding: pxToRem(12px);
    margin-bottom: pxToRem(20px);
    background-color: var(--sds-clr-gray-2);
    border: 1px solid var(--sds-clr-gray-6);
    border-radius: pxToRem(8px);
  }

  &__override-banner-text {
    color: var(--sds-clr-gray-12);
  }

  &__buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: pxToRem(8px);
    margin-bottom: pxToRem(20px);
  }
}
