@use "../../styles/utils.scss" as *;

.Welcome {
  &__column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;

    .Heading {
      max-width: 30rem;
      text-align: center;
    }
  }

  &__centered-screen {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1.5rem;
  }

  &__heading {
    font-size: #{pxToRem(40px)};
    line-height: #{pxToRem(48px)} !important;

    &--subheading {
      color: var(--sds-clr-gray-11);
    }
  }

  &__cta {
    color: var(--sds-clr-gray-11);
  }

  &__row-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
  }
}
