.Welcome {
  &__button-container {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 49rem;
    height: calc(100vh - var(--header--height));
    width: 100%;
    margin: 11.625rem auto;
  }

  &__centered-screen {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    &--large {
      color: var(--color-gray-90);
      font-size: 2.5rem;
      line-height: 3rem;
      margin-bottom: 2.5rem;
      text-align: center;
      max-width: 36rem;
      font-weight: var(--font-weight-medium);
    }

    &--small {
      color: var(--color-gray-90);
      font-size: 1.125rem;
      font-weight: var(--font-weight-medium);
      margin-bottom: 0.75rem;
    }
  }

  &__row-screen {
    display: flex;
    justify-content: space-between;
  }

  &__half-screen {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    width: 24rem;
  }

  &__import {
    .Card--default {
      background: var(--color-gray-00);
    }
  }

  &__text {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
  }
}
