.Loading {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: var(--z-index--loader);

  &__wrapper {
    display: flex;
    height: calc(100vh - var(--header--height));
    justify-content: center;
    align-items: center;
  }
}
