.TruncatedMemo {
  display: block;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &--inline {
    display: inline-block;
    vertical-align: bottom;
  }
}
