@use "../../../styles/utils.scss" as *;

.MnemonicDisplay {
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: #{pxToRem(32px)};
  border-radius: pxToRem(16px);
  background-color: var(--sds-clr-gray-03);
  padding: pxToRem(24px);

  &__word {
    line-height: pxToRem(24px);
    &:not(:first-child) {
      margin-left: pxToRem(6px);
    }
  }

  &__random-word {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -1;
  }
}
