.PunycodedDomain {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--row {
    flex-direction: row;
    gap: 0.5rem;
    justify-content: start;
    margin-bottom: 0;
  }

  &__favicon {
    width: 2rem;
  }

  &__domain {
    color: var(--color-gray-90);
  }

  &__title {
    color: var(--color-gray-60);
    font-size: 0.875rem;
    overflow-wrap: anywhere;
  }

  div {
    margin-bottom: 0.25rem;
  }
}
