:root {
  --TransactionDetail--icon-dimension: 0.875rem;
}

.TransactionDetail {
  display: flex;
  flex-direction: column;
  height: var(--popup--height);
  padding: var(--popup-vertical-padding) var(--popup--side-padding);

  &__header {
    border-bottom: 1px solid var(--pal-example-details);
    color: var(--pal-brand-primary-on);
    font-size: 2rem;
    font-weight: var(--font-weight-light);
    padding-bottom: 1.5rem;
    text-align: center;
  }

  &__content {
    flex-grow: 1;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    height: 9.75rem;
    padding-top: 1.5rem;

    &__row {
      color: rgba(255, 255, 255, 0.6);
      display: flex;
      height: 1.5rem;
      justify-content: space-between;

      div:nth-child(2) {
        color: var(--pal-success-on);
      }
    }
  }
}
