:root {
  --TransactionDetail--icon-dimension: 0.875rem;
}

.TransactionDetail {
  &__header {
    border-bottom: 1px solid var(--sds-clr-gray-04);
    color: var(--color-white);
    font-size: 2rem;
    font-weight: var(--font-weight-light);
    padding-bottom: 1.5rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;

    &--isMalicious {
      color: var(--color-red-70);
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    height: 9.75rem;

    &__row {
      color: rgba(255, 255, 255, 0.6);
      display: flex;
      flex-direction: column;
      margin-bottom: 0.75rem;

      div:nth-child(2) {
        color: var(--sds-clr-white);
        word-break: break-all;
      }

      &:empty {
        display: none;
      }

      div.InfoRow {
        &__title {
          display: flex;
          align-items: center;
          color: var(--sds-clr-gray-11);
          margin-bottom: 0.25rem;

          svg {
            margin-left: 0.35rem;
          }
        }
        &__success {
          color: var(--sds-clr-green-11);
        }
        &__failed {
          color: var(--sds-clr-red-11);
        }
      }
    }
  }
}

.TransactionDetailModal {
  height: 200px;
  width: 100%;

  padding: pxToRem(12px) pxToRem(16px);

  &__title-row {
    display: flex;
  }

  &__icon {
    flex: 1;
  }

  &__title {
    flex: 8;
  }
}
