:root {
  --TransactionDetail--icon-dimension: 0.875rem;
}

.TransactionDetail {
  &__header {
    border-bottom: 1px solid var(--sds-clr-gray-04);
    color: var(--color-white);
    font-size: 2rem;
    font-weight: var(--font-weight-light);
    padding-bottom: 1.5rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;

    &--isMalicious {
      color: var(--color-red-70);
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    height: 9.75rem;
    padding-top: 1.5rem;

    &__row {
      color: rgba(255, 255, 255, 0.6);
      display: flex;
      justify-content: space-between;

      div:nth-child(2) {
        color: var(--color-white);
      }

      &:empty {
        display: none;
      }

      .InfoRow {
        &__right {
          width: 50%;
        }
      }
    }
  }
}
