.Button.BasicButton {
  text-transform: capitalize;
  border-radius: 0.5rem;

  &--primary {
    border-color: var(--button-bg--primary);
    background: var(--button-bg--primary);
  }

  &--tertiary {
    border-color: var(--button-bg--tertiary);
    background: var(--button-bg--tertiary);
  }
}
