@use "../../styles/utils.scss" as *;

.GrantAccess {
  &__SigningWith {
    display: flex;
    flex-direction: column;
    border-radius: pxToRem(16px);
    background-color: var(--sds-clr-gray-04);
    padding: pxToRem(12px) pxToRem(16px);
  }

  &__Detail {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: pxToRem(12px);
      padding-bottom: pxToRem(12px);
      border-bottom: 1px solid var(--sds-clr-gray-06);
    }

    &__Label {
      display: flex;
      align-items: center;
      color: var(--sds-clr-gray-11);

      svg {
        margin-right: pxToRem(6px);
      }
    }
  }

  &__network {
    align-items: center;
    display: flex;
    font-size: pxToRem(14);
    margin-top: pxToRem(10);
  }

  &__PublicKey {
    padding: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 7px;
    border: 1px solid;
    margin-top: 10px;
    border-color: var(--sds-clr-gray-06);
  }

  &__loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .PunycodedDomain__domain {
    margin: pxToRem(12px) 0;
  }

  &__Warning {
    color: var(--sds-clr-gray-10);
    text-align: center;
    font-size: pxToRem(14px);
    font-style: normal;
    font-weight: 500;
    line-height: pxToRem(20px);
  }

  &__ButtonsContainer {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    height: var(--buttons-container-height);
    padding: 0.5rem 0;
  }

  &__ButtonsContainerMalicious {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    height: var(--buttons-container-height);
    padding: 0.5rem 0;
  }

  &__ConnectAnywayBtn {
    border: 0;
    color: var(--sds-clr-gray-11);
    background-color: transparent;
    cursor: pointer;
    margin-top: pxToRem(12px);
    padding-top: 0;

    &.Error {
      color: var(--sds-clr-red-11);
    }
  }

  &__CancelBtn {
    font-weight: 600;
  }

  &__BlockaidDetails {
    display: flex;
    flex-direction: column;

    &__Header {
      display: flex;
      justify-content: space-between;

      .WarningMark {
        display: flex;
        width: 40px;
        height: 40px;
        padding: 7.5px;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        border-radius: 8px;
        border: 1px solid var(--sds-clr-amber-06);
        background: var(--sds-clr-amber-03);

        svg {
          width: 25px;
          height: 25px;
          color: var(--sds-clr-amber-09);
        }
      }

      .WarningMarkError {
        display: flex;
        width: 40px;
        height: 40px;
        padding: 7.5px;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        border-radius: 8px;
        border: 1px solid var(--sds-clr-red-06);
        background: var(--sds-clr-red-03);

        svg {
          width: 25px;
          height: 25px;
          color: var(--sds-clr-red-09);
        }
      }

      .Close {
        display: flex;
        width: 32px;
        height: 32px;
        justify-content: center;
        align-items: center;
        border-radius: 1000px;
        background: var(--sds-clr-gray-03);
        color: var(--sds-clr-gray-09);
      }
    }

    &__Title {
      display: flex;
      margin: pxToRem(16px) 0 pxToRem(8px);
      font-size: pxToRem(18px);
      font-weight: 500;
      justify-content: flex-start;
      text-align: left;
      width: 100%;
    }

    &__SubTitle {
      font-size: pxToRem(14px);
      font-weight: 400;
      line-height: pxToRem(20px);
      margin-bottom: pxToRem(16px);
      color: var(--sds-clr-gray-11);
    }

    &__Details {
      display: flex;
      padding: pxToRem(12px) pxToRem(16px);
      flex-direction: column;
      justify-content: center;
      background-color: var(--sds-clr-gray-03);
      border-radius: pxToRem(16px);

      .BlockaidByLine {
        margin-top: pxToRem(12px);
        padding-top: pxToRem(12px);
        border-top: 1px solid var(--sds-clr-gray-06);
      }
    }

    &__DetailRow {
      display: flex;

      &:first-child {
        margin-top: pxToRem(8px);
      }

      &:not(:last-child) {
        margin-bottom: pxToRem(8px);
      }

      svg {
        width: 16px;
        height: 16px;
        color: var(--sds-clr-gray-09);
        margin-right: pxToRem(8px);
      }

      span {
        flex: 3;
        word-break: break-word;
        font-size: pxToRem(16px);
        font-weight: 500;
      }
    }

    &__DetailRowError {
      display: flex;

      &:first-child {
        margin-top: pxToRem(8px);
      }

      &:not(:last-child) {
        margin-bottom: pxToRem(8px);
      }

      svg {
        width: 16px;
        height: 16px;
        color: var(--sds-clr-red-09);
        margin-right: pxToRem(8px);
      }

      span {
        flex: 3;
        word-break: break-word;
        font-size: pxToRem(16px);
        font-weight: 500;
      }
    }
  }
}
