@use "../../styles/utils.scss" as *;

.GrantAccess {
  &__SigningWith {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  &__network {
    align-items: center;
    display: flex;
    font-size: pxToRem(14);
    margin-top: pxToRem(10);
  }

  &__PublicKey {
    padding: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 7px;
    border: 1px solid;
    margin-top: 10px;
    border-color: var(--sds-clr-gray-06);
  }

  &__loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
