@use "../../../styles/utils.scss" as *;

.PasswordForm {
  align-items: center;
  display: flex;
  height: 100%;

  &__subheading {
    color: var(--sds-clr-gray-11);
    margin-top: #{pxToRem(8px)};
    margin-bottom: #{pxToRem(32px)};
  }

  &__form-rows {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__tos {
    color: var(--sds-clr-gray-11);

    &__label {
      align-items: center;
      display: flex;
      gap: 0.25rem;

      svg {
        height: 1rem;
        width: 1rem;
      }
    }
  }
}
