.ModalInfo {
  &--card.Malicious {
    .Card {
      .PunycodedDomain {
        .PunycodedDomain__domain {
          color: var(--sds-clr-red-09);
        }
      }
    }
  }

  &--connection-request {
    display: flex;
    justify-content: center;
    margin-bottom: 0.75rem;
  }

  &--connection-request-pill {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    background-color: var(--sds-clr-gray-02);
    color: var(--sds-clr-gray-12);
    border: 1px solid var(--sds-clr-gray-03);
    border-radius: 6px;
    margin-bottom: 0.5rem;
    line-height: 1.25rem;

    p {
      font-size: 0.75rem;
      margin-left: 0.25rem;
    }
  }

  &--subject {
    font-size: 0.75rem;
    color: #a0a0a0;
    background-color: #1c1c1c;
    border-radius: 6px;
    line-height: 1rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    padding: 0.5rem;
    text-align: center;
  }
}
