@use "../../styles/utils.scss" as *;

.AddCollectibles {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__clipboard-button {
    .Button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top: 0;
      border-bottom: 0;
      border-right: 0;
    }
  }

  &__input-wrapper {
    .Input__container {
      padding-right: 0;
    }
  }

  &__error-message {
    align-items: center;
    color: var(--sds-clr-red-11);
    font-size: pxToRem(12px);
    margin-top: pxToRem(6px);
    text-align: center;
  }

  &__show-hidden {
    color: var(--sds-clr-lilac-11);
    font-size: pxToRem(14px);
    font-weight: var(--sds-fw-medium);
    line-height: pxToRem(20px);
    cursor: pointer;
    width: fit-content;
    margin-top: pxToRem(16px);
  }

  &__helper-text {
    color: var(--sds-clr-gray-11);
    font-size: pxToRem(14px);
    font-weight: var(--sds-fw-regular);
    line-height: pxToRem(20px);
    margin-top: pxToRem(16px);
  }
}
