@use "../../styles/utils.scss" as *;

.AddCollectibles {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__clipboard-button {
    .Button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top: 0;
      border-bottom: 0;
      border-right: 0;
    }
  }

  &__input-wrapper {
    .Input__container {
      padding-right: 0;
    }
  }

  &__error-message {
    align-items: center;
    color: var(--sds-clr-red-11);
    font-size: pxToRem(12px);
    margin-top: pxToRem(6px);
    text-align: center;
  }
}
