.AccountHeaderModal {
  width: calc(100% - 2rem);
  margin: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: var(--background-color--overlay);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: calc(var(--z-index-tooltip) + 1);
  transition: max-height var(--dropdown-animation);

  // default max-height on page load
  max-height: 0;

  &__content {
    padding: 0.25rem 1rem;
  }
}
