@use "../../../styles/utils.scss" as *;

.AccountHeaderModal {
  background: var(--sds-clr-gray-01);
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: calc(var(--z-index-tooltip) + 1);
  transition: max-height var(--dropdown-animation);

  // default max-height on page load
  max-height: 0;

  &__content {
    border-radius: #{pxToRem(6px)};
    border: 1px solid var(--sds-clr-gray-06);
    max-height: calc(100vh - 1rem);
    padding: pxToRem(4px);
  }
}
