@use "../../../styles/utils.scss" as *;

.AvatarChip {
  display: flex;
  align-items: center;
  gap: pxToRem(6px);
  min-width: 0;

  &__icon {
    flex-shrink: 0;
    width: pxToRem(20px);
    height: pxToRem(20px);
    border-radius: 50%;
    overflow: hidden;
  }

  &__label {
    color: var(--sds-clr-gray-12);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: pxToRem(14px);
  }
}
