@use "../../styles/utils.scss" as *;

:root {
  --account-view-padding-side: 1.5rem;
}

.AccountView {
  &__account-details {
    display: flex;
    flex-direction: column;
  }
  &__total-usd-balance {
    font-size: 32px;
  }
  &__account-actions {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }

  &__name-key-display {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: pxToRem(8px);
    font-size: pxToRem(14px);
    line-height: pxToRem(20px);

    .Tooltip {
      padding: 0.125rem 0.375rem;
    }
  }

  &__send-receive-display {
    display: flex;
    justify-content: right;
    align-self: end;

    > div {
      margin-left: 1rem;
    }
  }

  &__send-receive-button {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      width: 2.5rem;
      height: 2.5rem;

      svg {
        stroke: var(--sds-clr-base-01);
        width: 1rem;
        height: 1rem;
        stroke: var(--sds-clr-gray-12);
      }
    }
  }

  &__account-name {
    color: var(--sds-clr-gray-11);
    font-weight: var(--font-weight-medium);
  }

  &__account-num {
    align-items: center;
    color: var(--sds-clr-gray-09);
    gap: 0.5rem;
    display: flex;
    margin-top: pxToRem(4px);
    width: 100%;

    svg {
      width: 1rem;
    }
  }

  &__assets-wrapper {
    .AccountAssets__asset {
      margin: 2rem 0;
    }
  }

  &__assets-button {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }

  &__fetch-fail,
  &__fullscreen {
    margin-top: 1.5rem;
  }
}
