@use "../../styles/utils.scss" as *;

:root {
  --account-view-padding-side: 1.5rem;
}

.AccountView {
  &__account-details {
    display: flex;
    flex-direction: column;
    max-width: 60%;
  }
  &__total-usd-balance {
    font-size: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__account-actions {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }

  &__send-receive-display {
    display: flex;
    justify-content: right;
    align-self: end;

    > div {
      margin-left: 1rem;
    }
  }

  &__account-num {
    align-items: center;
    color: var(--sds-clr-gray-09);
    gap: 0.5rem;
    display: flex;
    margin-top: pxToRem(4px);
    width: 100%;

    svg {
      width: 1rem;
    }
  }

  &__assets-wrapper {
    .AccountAssets__asset {
      margin: 2rem 0;
    }
  }

  &__assets-button {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }

  &__fetch-fail,
  &__fullscreen {
    margin-top: 1.5rem;
  }
}
