@use "../../styles/utils.scss" as *;

:root {
  --account-view-padding-side: 1.5rem;
}

.AccountView {
  &__account-details {
    display: flex;
    flex-direction: column;
    max-width: 60%;
  }

  &__assets-wrapper {
    .AccountAssets__asset {
      margin: 2rem 0;
    }
  }

  &__assets-button {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }

  @keyframes animateNotification {
    from {
      margin-top: 0;
      height: 0;
      overflow: hidden;
    }
    to {
      margin-top: 1.5rem;
      height: auto;
      overflow: auto;
    }
  }

  &__fullscreen {
    margin-top: 1.5rem;
  }

  &__fetch-fail {
    animation: animateNotification 0.3s ease-in-out;
    margin-top: 1.5rem;
  }

  /* overwrite default MultiPaneSlider styles for AccountView
    to make each pane take full height and NOT be scrollable
  */
  .multi-pane-slider {
    &__container {
      height: 100vh;
    }

    &__pane {
      padding: 0 var(--account-view-padding-side);
      height: auto;
      overflow: auto;
      position: relative;
      width: 100%;

      &:not(:first-child) {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  // Override View layout to remove scrollable areas
  .View__contentAndFooterWrapper {
    overflow: visible !important;
  }

  .View__content {
    flex: none !important;
    overflow: visible !important;
  }

  .View__content .View__inset {
    flex: none !important;
    overflow-y: visible !important;
    padding-top: var(--View-inset-padding-top);
    padding-bottom: 1.5rem;
  }
}
