.AssetSelect {
  &__wrapper {
    height: 3.5rem;
    border: solid 1px var(--pal-background-secondary);
    border-radius: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    line-height: 1.75rem;
    padding: 0.5rem 0.75rem;
  }

  &__medium-copy {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--font-weight-medium);
    color: var(--pal-text-primary);
  }

  &__light-copy {
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: var(--font-weight-normal);
    color: var(--pal-text-secondary);

    &__label {
      min-width: 2rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    font-size: 0.875rem;
    width: 100%;

    &__left {
      display: flex;
      align-items: center;
      img {
        height: 1.5rem;
        width: 1.5rem;
        margin: 0 0.5rem 0 0.75rem;
      }

      svg {
        width: 1rem;
        height: 1rem;
        margin: 0 0.5rem;
      }

      .AccountAssets__asset--bullet {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 0.5rem 0 0.75rem;
      }
    }

    &__right {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: end;
      svg {
        height: 1rem;
        width: 1rem;
        margin-left: 0.5rem;
      }
    }
  }
}
