.ManageAssetRowButton {
  .Button {
    display: flex;
    gap: 0.25rem;
    align-items: center;
  }

  &__label {
    font-size: 0.875rem;
    font-weight: var(--font-weight-medium);
  }

  &__ellipsis {
    cursor: pointer;
    position: relative;
    z-index: var(--back--button-z-index);

    &--is-pending {
      cursor: not-allowed;
    }
  }

  &__dropdown {
    background: var(--sds-clr-gray-03);
    border-radius: 6px;
    margin-top: 0.25rem;
    padding: 0.25rem;
    position: absolute;
    right: 1rem;
    width: 10.75rem;
    z-index: var(--z-index--banner);

    &__background {
      height: 100vh;
      position: absolute;
      width: 100vw;
    }

    &__row {
      padding: 0.375rem 0.5rem;

      &:first-child {
        background: var(--sds-clr-gray-03);
        border-radius: 0.25rem;
      }
    }

    .CopyText {
      border-radius: 0.25rem;
      width: 100%;
    }

    .CopyText__content {
      display: flex;
      justify-content: space-between;

      svg {
        color: var(--sds-clr-gray-07);
      }
    }
  }

  &__remove {
    color: var(--sds-clr-red-07);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: none;
    padding: 0;
    width: 100%;

    &:disabled {
      color: var(--sds-clr-red-08);
      cursor: not-allowed;
    }
  }
}
