.SlideupModal {
  background: var(--sds-clr-gray-01);
  border-radius: 1.5rem 1.5rem 0 0;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.24);
  position: absolute;
  transition: all var(--dropdown-animation);
  width: 100%;
  z-index: var(--z-index-modal);
}
