.AccountCreator {
  margin-bottom: 1rem;

  &--header {
    font-size: 2.125rem;
    line-height: 1.2rem;
    font-weight: var(--font-weight-normal);
    color: var(--pal-text-primary);
    text-align: center;
  }

  &--buttow-row {
    padding: 1.5rem;
  }

  &--screen {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    // TODO - use HEADER_HEIGHT constant
    height: calc(100vh - 119px);
    max-height: 40rem;
    max-width: 57rem;
    width: 100%;
    margin: auto;
  }

  &--half-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0 2rem 1.55rem;
    width: 27rem;
  }
}
