.ScamAssetIcon {
  display: flex;
  align-items: center;
  background: var(--color-red-40);
  border-radius: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.25rem;
  width: 50%;
  height: 50%;
  background-size: auto;
}
