.ModalWrapper {
  padding: 1.5rem 1.875rem;
  box-sizing: border-box;

  &--header {
    margin: 0 2rem 1.5rem;
    text-align: center;
  }

  &--buttons-container {
    display: flex;
    gap: 0.75rem;
    justify-content: space-around;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
  }

  &--single-button-container {
    margin-top: 12.25rem;
  }
}
