@use "../../../styles/utils.scss" as *;

.AccountHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;

  &__icon-btn {
    cursor: pointer;
    display: flex;
  }

  &__left {
    display: flex;
    flex-direction: column;
  }

  &__right-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: pxToRem(12);
  }

  &__right-button {
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: pxToRem(32px);
    justify-content: center;
    border: 1px solid var(--sds-clr-gray-06);
    border-radius: pxToRem(100px);
    width: pxToRem(32px);

    svg {
      color: var(--sds-clr-gray-09);
    }
  }

  &__network-copy {
    font-size: pxToRem(14px);
    line-height: 1.5rem;
    font-weight: var(--font-weight-medium);
    white-space: nowrap;
  }

  &__network-selector {
    display: flex;
    flex-direction: column;
    margin: 0 0 pxToRem(12px) 0;

    &__row {
      cursor: pointer;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding: pxToRem(12px) pxToRem(24px);
    }

    &__check {
      color: var(--sds-clr-lilac-09);
      flex-grow: 2;
      display: flex;
      justify-content: flex-end;

      svg {
        height: pxToRem(20px);
        width: pxToRem(20px);
      }
    }
  }

  &__account-dropdown {
    padding: 0;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 1.5rem);
    overflow: hidden;

    li::before {
      content: none !important;
    }

    .View__inset--scroll-shadows {
      --bgRGB: 22, 22, 24;
    }
  }

  &__account-list-item {
    padding: pxToRem(12px) pxToRem(24px);

    &__link {
      color: var(--sds-clr-gray-12);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__row {
      display: flex;
      align-items: center;
    }

    &__link-copy {
      margin-left: pxToRem(16px);
      font-size: 0.875rem;
      line-height: 1.5rem;
    }

    &__icon {
      color: var(--sds-clr-gray-09);
      display: flex;
      align-items: center;
      width: pxToRem(20px);
      height: pxToRem(20px);
      justify-content: center;
    }

    &__arrow {
      color: var(--sds-clr-gray-09);
      display: flex;
    }
  }

  &__img-cube-icon {
    width: 0.875rem;
    height: 1rem;
  }

  &__list-divider {
    border: none;
    height: 1px;
    background: var(--sds-clr-gray-03);
    border-radius: 1rem;
    margin-top: 0;
    margin-bottom: pxToRem(12px);
  }
}
