@use "../../../styles/utils.scss" as *;

.AccountHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;

  &__icon-btn {
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    &__left {
      display: flex;
      gap: pxToRem(12px);
    }
  }

  &__dropdown {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      width: pxToRem(32);
      height: pxToRem(32);

      svg {
        width: pxToRem(12);
        height: pxToRem(12);
      }
    }
  }

  &__right-button {
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--sds-clr-gray-06);
    border-radius: pxToRem(100px);
    height: pxToRem(32);
    width: pxToRem(32);

    &--with-label {
      padding: pxToRem(6) pxToRem(10);
      height: auto;
      width: auto;
      display: flex;
      gap: pxToRem(4);
      font-size: pxToRem(14);
      font-weight: var(--sds-fw-semi-bold);
    }

    svg {
      color: var(--sds-clr-gray-09);
    }
  }

  &__network-copy {
    font-size: pxToRem(14px);
    line-height: 1.5rem;
    font-weight: var(--font-weight-medium);
    white-space: nowrap;
  }

  &__network-selector {
    display: flex;
    flex-direction: column;
    margin: 0 0 pxToRem(12px) 0;

    &__row {
      cursor: pointer;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding: pxToRem(12px) pxToRem(24px);
    }

    &__check {
      color: var(--sds-clr-lilac-09);
      flex-grow: 2;
      display: flex;
      justify-content: flex-end;

      svg {
        height: pxToRem(20px);
        width: pxToRem(20px);
      }
    }
  }

  &__account-name {
    color: var(--sds-clr-gray-11);
    font-weight: var(--font-weight-medium);
  }

  &__account-dropdown-btn {
    color: var(--sds-clr-gray-09);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__account-dropdown {
    border-radius: pxToRem(6px);
    padding: 0;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 1.5rem);
    overflow: hidden;
    width: pxToRem(310px);

    li::before {
      content: none !important;
    }

    .View__inset--scroll-shadows {
      --bgRGB: 22, 22, 24;
    }
  }

  &__account-info {
    display: flex;
    justify-content: space-around;

    &__details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: pxToRem(8px);
    }
  }

  &__name-key-display {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: pxToRem(2px);
    font-size: pxToRem(14px);
    line-height: pxToRem(20px);

    .Tooltip {
      padding: 0.125rem 0.375rem;
    }
  }

  &__identicon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: pxToRem(16);
    height: pxToRem(16);
    border: 1px solid var(--sds-clr-gray-06);
    border-radius: pxToRem(100);

    img {
      width: pxToRem(8);
      height: pxToRem(8);
    }
  }

  &__account-list-item {
    padding: pxToRem(12px) pxToRem(24px);

    &__link {
      color: var(--sds-clr-gray-12);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__row {
      display: flex;
      align-items: center;
    }

    &__link-copy {
      margin-left: pxToRem(16px);
      font-size: 0.875rem;
      line-height: 1.5rem;
    }

    &__icon {
      color: var(--sds-clr-gray-09);
      display: flex;
      align-items: center;
      width: pxToRem(20px);
      height: pxToRem(20px);
      justify-content: center;
    }

    &__arrow {
      color: var(--sds-clr-gray-09);
      display: flex;
    }
  }

  &__options {
    &__item {
      align-items: center;
      border-radius: pxToRem(4);
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: #{pxToRem(6px)} #{pxToRem(8px)};

      &__icon {
        display: flex;

        svg {
          stroke: var(--sds-clr-gray-09);
        }
      }

      &:hover {
        background: var(--sds-clr-gray-04);
      }
    }
  }

  &__img-cube-icon {
    width: 0.875rem;
    height: 1rem;
  }

  &__list-divider {
    border: none;
    height: 1px;
    background: var(--sds-clr-gray-03);
    border-radius: 1rem;
    margin-top: 0;
  }

  &__total-usd-balance {
    display: flex;
    font-size: pxToRem(32);
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__actions {
    display: flex;
    margin-top: pxToRem(8px);
    gap: pxToRem(12px);

    &__column {
      align-items: center;
      color: var(--sds-clr-gray-11);
      display: flex;
      flex-direction: column;
      gap: pxToRem(4px);
      justify-content: center;
    }

    &__btn {
      padding: pxToRem(12);
      border-radius: pxToRem(100px);
      background: var(--sds-clr-gray-03);
      border: 1px solid var(--sds-clr-gray-06);
      color: var(--sds-clr-base-01);
      display: flex;
      width: pxToRem(40);
      height: pxToRem(40);
      justify-content: center;
      align-items: center;

      svg {
        width: pxToRem(12px);
        height: pxToRem(12px);
      }
    }
  }
}
