.PinExtension {
  margin-top: 4.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrapper {
    max-width: 31rem;
  }

  &__title {
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: center;
    color: var(--color-gray-90);
    margin-bottom: 1rem;
  }

  &__caption {
    line-height: 1.5rem;
    margin-bottom: 2rem;
    color: var(--color-gray-70);

    div:not(:last-child) {
      margin-bottom: 0.4rem;
    }
  }

  &__img {
    margin-bottom: 2rem;

    img {
      width: 100%;
    }
  }
}
