.PinExtension {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrapper {
    max-width: 31rem;
  }

  &__caption {
    line-height: 1.5rem;
    margin-bottom: 2rem;
    color: var(--sds-clr-gray-12);

    div:not(:last-child) {
      margin-bottom: 0.4rem;
    }
  }

  &__img {
    margin-bottom: 2rem;

    img {
      width: 100%;
    }
  }
}
