@use "../../styles/utils.scss" as *;

.BottomNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: pxToRem(16px) pxToRem(24px);

  &__link {
    display: block;
    width: pxToRem(30px);
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(0) saturate(100%) invert(31%) sepia(6%) saturate(476%)
      hue-rotate(195deg) brightness(100%) contrast(89%);

    &--active {
      filter: brightness(1);
    }

    &:hover {
      filter: brightness(1);
    }

    &__icon {
      align-items: center;
      color: var(--sds-clr-gray-12);
      display: flex;
      flex-direction: column;
      font-size: pxToRem(12px);
      gap: pxToRem(4px);

      svg {
        width: pxToRem(18px);
        height: pxToRem(18px);
      }
    }
  }
}
