.BottomNav {
  border-top: solid 1px var(--pal-example-details);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--bottom-nav--height);
  top: calc(var(--popup--height) - var(--bottom-nav--height));
  position: absolute;
  width: 100%;

  img {
    margin: 1rem 2rem;
  }

  &--link {
    filter: brightness(0) saturate(100%) invert(31%) sepia(6%) saturate(476%)
      hue-rotate(195deg) brightness(100%) contrast(89%);

    &--active {
      filter: brightness(1);
    }

    &:hover {
      filter: brightness(1);
    }
  }
}
