@use "../../styles/utils.scss" as *;

.AddToken {
  position: relative;
  flex-direction: column;
  display: flex;
  height: 100%;

  &__loader,
  &__error {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    overflow: scroll;
    position: relative;
    flex-direction: column;
    display: flex;

    &__header {
      position: relative;
      flex-direction: column;
      display: flex;
      align-items: center;
    }

    &__icon-logo {
      margin-bottom: pxToRem(8px);
      align-items: center;
    }

    &__code-logo {
      height: pxToRem(40px);
      width: pxToRem(40px);
      border-radius: pxToRem(40px);
      margin-bottom: pxToRem(8px);
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--sds-clr-gray-06);
      color: var(--sds-clr-gray-09);
    }

    &__badge {
      margin-top: pxToRem(14px);
      margin-bottom: pxToRem(24px);
    }

    &--logo-label,
    &--domain-label {
      color: var(--sds-clr-gray-11);
    }

    &__info {
      position: relative;
      gap: pxToRem(6px);
      margin-bottom: pxToRem(8px);
      background: var(--sds-clr-gray-03);
      border-radius: pxToRem(8px);
      display: flex;
      width: 100%;
      padding: pxToRem(12px) pxToRem(16px);
      flex-direction: column;

      &--title {
        color: var(--sds-clr-gray-11);
      }

      &__row {
        display: flex;
        flex-direction: row;
        gap: pxToRem(8px);

        &--icon {
          color: var(--sds-clr-gray-09);
        }

        &__right_label {
          text-align: right;
          flex: 1;
        }
      }

      &--amount {
        color: var(--sds-clr-green-11);
      }
    }
  }

  &__Metadata {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: pxToRem(12px) pxToRem(16px);
    border-radius: pxToRem(16px);
    background-color: var(--sds-clr-gray-03);
    margin-top: pxToRem(12px);

    &__Row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: pxToRem(12px);
        padding-bottom: pxToRem(12px);
        border-bottom: 1px solid var(--sds-clr-gray-06);
      }
    }

    &__Label {
      display: flex;
      align-items: center;
      color: var(--sds-clr-gray-11);

      svg {
        margin-right: pxToRem(8px);
      }
    }

    &__Value {
      .CopyValue {
        max-width: pxToRem(120px);

        .Value {
          max-width: pxToRem(100px);
          text-overflow: ellipsis;
          white-space: pre-wrap;
          overflow: hidden;
        }

        svg {
          color: var(--sds-clr-gray-09);
        }
      }
    }
  }

  &__Description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: pxToRem(12px) pxToRem(16px);
    border-radius: pxToRem(16px);
    background-color: var(--sds-clr-gray-03);
    color: var(--sds-clr-gray-11);
    margin-top: pxToRem(12px);
  }
}
