@use "../../styles/utils.scss" as *;

.ManageConnectedApps {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2rem;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: pxToRem(12px) pxToRem(16px);
    border-radius: pxToRem(16px);
    background-color: var(--sds-clr-gray-02);
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: pxToRem(16px);
      padding-bottom: pxToRem(16px);
      border-bottom: 1px solid var(--sds-clr-gray-06);
    }

    .Button {
      flex: 0 0 auto;
      margin-left: pxToRem(8px);
      color: var(--sds-clr-red-09);
      background-color: transparent;
      border: none;
      height: 18px;
      width: 18px;
      padding: 0;
    }

    .PunycodedDomain {
      flex: 1 1 0%;
      min-width: 0;
      display: flex;
      align-items: center;
      gap: pxToRem(8px);

      div {
        margin-bottom: 0;
      }

      .PunycodedDomain__favicon-container {
        flex: 0 0 auto;
      }

      .PunycodedDomain__domain {
        flex: 1 1 auto;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .PunycodedDomain__favicon-container {
      border-radius: 50%;
    }
  }

  &__empty {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: pxToRem(24px);
  }

  &__select {
    padding-left: 1.625rem !important;
  }

  &__network {
    position: absolute;
    top: pxToRem(13);
    left: pxToRem(30);
  }

  &__loader {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &__list {
    margin-top: 1.5rem;
  }

  &__badge {
    display: flex;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &__subtitle {
    font-size: 0.75rem;
    color: var(--sds-clr-gray-11);
    line-height: 1.125rem;
  }

  &__select-wrapper {
    margin-top: pxToRem(4px);
  }
}
