@use "../../styles/utils.scss" as *;

.ConfirmSidebarRequest {
  display: flex;
  flex-direction: column;
  gap: pxToRem(32px);
  padding: pxToRem(24px);
  height: 100%;

  &__header {
    display: flex;
    flex-direction: column;
    gap: pxToRem(16px);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: pxToRem(32px);
    height: pxToRem(32px);
    border-radius: pxToRem(8px);
    background-color: var(--sds-clr-amber-03);
    border: pxToRem(1px) solid var(--sds-clr-amber-07);

    svg {
      width: pxToRem(20px);
      height: pxToRem(20px);
      color: var(--sds-clr-amber-11);
    }
  }

  &__title {
    font-size: pxToRem(18px);
    font-weight: var(--font-weight-medium);
    line-height: pxToRem(26px);
    color: var(--sds-clr-gray-12);
    margin: 0;
  }

  &__body {
    font-size: pxToRem(14px);
    font-weight: var(--font-weight-regular);
    font-style: normal;
    line-height: pxToRem(20px);
    color: var(--sds-clr-gray-11);
    margin: 0;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: pxToRem(12px);
    width: 100%;

    button {
      border-radius: pxToRem(100px);
    }
  }
}
