.SignTransaction {
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding: 1rem;
  background-color: var(--sds-clr-gray-01);
  display: flex;
  justify-content: center;

  &__Title {
    display: flex;
    flex-direction: column;
    height: 130px;
  }

  .Tabs {
    width: 100%;
    flex-grow: 1;

    .BodyWrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      background-color: var(--sds-clr-gray-02);
      padding: 1rem;
      overflow-y: scroll;
    }
  }

  &__Body {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    max-width: 57rem;
    width: 100%;
  }

  &--connection-request {
    display: flex;
    justify-content: center;
    margin-bottom: 0.75rem;
  }

  &--connection-request-pill {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    background-color: var(--sds-clr-gray-02);
    color: var(--sds-clr-gray-12);
    border: 1px solid var(--sds-clr-gray-03);
    border-radius: 6px;
    margin-bottom: 0.5rem;
    line-height: 1.25rem;

    p {
      font-size: 0.75rem;
      margin-left: 0.25rem;
    }
  }

  .Blob {
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-wrap: break-word;
  }

  &__info {
    margin-bottom: 2rem;
  }

  &__subject {
    border-bottom: 1px solid var(--sds-clr-gray-03);
    color: var(--sds-clr-gray-12);
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  &__approval {
    margin-bottom: -1rem;

    &__title {
      color: rgba(255, 255, 255, 0.6);
      font-size: 0.875rem;
      line-height: 1.5rem;
    }
  }

  &__current-account {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0.5rem 0;
    width: 100%;

    &__chevron {
      display: flex;
      width: 0.75rem;
    }
  }

  &__modal {
    padding: 0.5rem 0 0.5rem 1.5rem;

    .View__inset--scroll-shadows {
      --bgRGB: 22, 22, 24;
    }
  }

  &__account-not-found {
    margin: 1rem 0;
  }

  &__Actions {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 100%;
    height: 130px;

    &__SigningWith {
      display: flex;
      flex-direction: column;
    }

    &__PublicKey {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: transparent;
      cursor: pointer;
      padding: 0.25rem 0.5rem;
      border-radius: 7px;
      border: 1px solid;
      margin-top: 10px;
      border-color: var(--sds-clr-gray-04);
    }

    &__BtnRow {
      display: flex;
      margin-top: 10px;
      gap: 0.5rem;
    }
  }
}
