.DisplayMnemonicPhrase {
  &__header {
    text-align: left;
  }

  &__content {
    margin-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--font-weight-normal);

    p {
      color: rgba(255, 255, 255, 0.6);
    }

    strong {
      color: var(--pal-text-primary);
    }
  }

  &__screen {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__half-screen {
    flex-direction: column;
    justify-content: start;
  }

  &__display-buttons {
    margin-bottom: 2.5rem;
    margin-right: 1rem;
    position: relative;
    text-align: right;

    img {
      margin-left: 0.5rem;
    }
  }

  &__download-button {
    background: none;
    border: none;
    margin-right: 1.5rem;
  }

  .CopyText {
    &:hover {
      opacity: 1;
    }
  }

  .IconButton {
    &__label {
      color: var(--pal-text-primary);
    }
    svg {
      stroke: var(--pal-text-primary);
    }
  }
}
