.DisplayMnemonicPhrase {
  &__header {
    text-align: left;
  }

  &__content {
    margin-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--font-weight-normal);
    color: var(--pal-text-tertiary);
  }

  &__screen {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__half-screen {
    flex-direction: column;
    justify-content: start;
  }

  &__display-buttons {
    margin-bottom: 2.5rem;
    margin-right: 1rem;
    position: relative;
    text-align: right;

    img {
      margin-left: 0.5rem;
    }
  }

  &__download-button {
    background: none;
    border: none;
    margin-right: 1.5rem;
  }

  .CopyText {
    @media (hover: hover) {
      &:hover {
        opacity: 1;
      }
    }
  }
}
