.PluginWallet {
  padding: var(--popup-vertical-padding) var(--account-view-padding-side) 1rem
    var(--account-view-padding-side);
  height: calc(var(--popup--height) - var(--bottom-nav--height));
  display: flex;
  flex-direction: column;

  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  &__caption {
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.375rem;
    color: var(--sds-clr-gray-12);
  }

  &__bottom {
    margin-top: auto;
    row-gap: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  &__checkbox-label {
    color: var(--sds-clr-gray-12);
  }
}
