@use "../../../styles/utils.scss" as *;

.ReviewTx {
  z-index: var(--z-index--banner);
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  background-color: var(--sds-clr-gray-01);
  border-radius: 0.875rem;
  height: auto;
  max-height: 85vh;

  &__Warnings {
    margin-top: pxToRem(32px);
  }

  &__loader {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__Divider {
    display: flex;
    margin: pxToRem(12px) 0;
    svg {
      color: var(--sds-clr-gray-09);
      margin-left: pxToRem(7px);
    }
  }

  &__SendSummary {
    display: flex;
    flex-direction: column;
  }

  &__Details {
    padding: pxToRem(12px);
    border-radius: pxToRem(16px);
    background-color: var(--sds-clr-gray-03);
    margin-top: pxToRem(12px);
    margin-top: pxToRem(24px);

    &__Row {
      display: flex;

      &:not(:last-child) {
        margin-bottom: pxToRem(12px);
        padding-bottom: pxToRem(12px);
        border-bottom: 1px solid var(--sds-clr-gray-06);
      }

      &__Title {
        flex: 2;
        display: flex;
        color: var(--sds-clr-gray-09);

        svg {
          margin-right: pxToRem(6px);
        }
      }

      &__Value {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: end;

        .CopyValue {
          max-width: pxToRem(120px);

          .Value {
            max-width: pxToRem(100px);
            text-overflow: ellipsis;
            white-space: pre-wrap;
            overflow: hidden;
          }
        }
      }
    }
  }

  &__Actions {
    display: flex;
    flex-direction: column;

    .Button {
      margin-top: pxToRem(12px);
    }

    .ReviewTx__ActionButton {
      &--error {
        color: var(--sds-clr-red-11);
        border-color: var(--sds-clr-red-08);
      }

      &--default {
        color: var(--sds-clr-gray-12);
        border-color: var(--sds-clr-gray-07);
        background: var(--sds-clr-white);
      }
    }

    .ReviewTx__TextAction {
      margin-top: pxToRem(12px);
      width: 100%;
      border: none;
      background: none;
      color: #a0a0a0;
      font-family: "Inter", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: pxToRem(14px);
      line-height: pxToRem(20px);
      letter-spacing: 0;
      padding: pxToRem(8px) 0;
      cursor: pointer;
      text-align: center;

      &--default {
        color: #a0a0a0;
      }

      &--error {
        color: var(--sds-clr-red-11);
      }
    }
  }

  &__SendAsset {
    display: flex;
    align-items: center;

    &__Collectible {
      border-radius: pxToRem(8px);
      display: flex;
      align-items: center;
      margin-right: pxToRem(12px);
      overflow: hidden;
      height: pxToRem(32px);
      width: pxToRem(32px);

      &__label {
        display: flex;
        flex-direction: column;

        &__name {
          font-size: pxToRem(14px);
          font-weight: var(--sds-fw-medium);
          line-height: pxToRem(20px);
        }
        &__id {
          font-size: pxToRem(12px);
          font-weight: var(--sds-fw-regular);
          color: var(--sds-clr-gray-11);
          line-height: pxToRem(18px);
        }
      }
    }
  }

  &__SendAssetDetails {
    display: flex;
    flex-direction: column;

    &__price {
      color: var(--sds-clr-gray-09);
      font-size: pxToRem(14px);
    }
  }

  &__SendDestination {
    display: flex;
    align-items: center;

    .IdenticonImg {
      width: 2rem;
      height: 2rem;
      padding: pxToRem(6px);
      border: 1px solid var(--sds-clr-gray-09);
      border-radius: pxToRem(100px);
      margin-right: pxToRem(12px);
    }
  }

  &__SendDestinationDetails {
    display: flex;
    flex-direction: column;
  }

  &__MemoDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem;

    &__Header {
      display: flex;
      justify-content: space-between;
      margin: pxToRem(12px) 0;

      &__Icon {
        display: flex;
        width: 40px;
        height: 40px;
        padding: 7.5px;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        border-radius: 8px;
        background: var(--sds-clr-red-03);

        svg {
          width: 25px;
          height: 25px;
          color: var(--sds-clr-red-11);
        }
      }

      &__Close {
        display: flex;
        width: 32px;
        height: 32px;
        justify-content: center;
        align-items: center;
        border-radius: 1000px;
        background: var(--sds-clr-gray-03);
        color: var(--sds-clr-gray-09);
        cursor: pointer;
      }
    }

    &__Title {
      display: flex;
      align-items: center;
      width: 100%;
      margin: pxToRem(12px) 0;
      font-size: pxToRem(20px);
      font-weight: var(--font-weight-medium);
    }

    &__Content {
      display: flex;
      flex-direction: column;
      gap: pxToRem(24px);
    }

    &__Text {
      color: var(--sds-clr-gray-11);
      font-size: pxToRem(14px);
      line-height: 1.5rem;
    }
  }
}
