@use "../../../styles/utils.scss" as *;

.ReviewTx {
  z-index: var(--z-index--banner);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  background-color: var(--sds-clr-gray-01);
  border-radius: 0.875rem;

  &__Warnings {
    margin-top: pxToRem(32px);
  }

  &__loader {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__Divider {
    display: flex;
    margin: pxToRem(12px) 0;
    svg {
      color: var(--sds-clr-gray-09);
      margin-left: pxToRem(7px);
    }
  }

  &__SendSummary {
    display: flex;
    flex-direction: column;
  }

  &__Details {
    margin: pxToRem(32px) 0;

    .Card {
      display: flex;
      flex-direction: column;
    }

    &__Row {
      display: flex;
      justify-content: space-between;

      &:first-child {
        margin-top: pxToRem(12px);
      }

      &__Title {
        display: flex;
        color: var(--sds-clr-gray-09);

        svg {
          margin-right: pxToRem(6px);
        }
      }

      &__Value {
        .CopyValue {
          max-width: pxToRem(120px);

          .Value {
            max-width: pxToRem(100px);
            text-overflow: ellipsis;
            white-space: pre-wrap;
            overflow: hidden;
          }
        }
      }
    }
  }

  &__Actions {
    display: flex;
    flex-direction: column;

    .Button {
      margin-top: pxToRem(12px);
    }
  }

  &__SendAsset {
    display: flex;
    align-items: center;
  }

  &__SendAssetDetails {
    display: flex;
    flex-direction: column;

    &__price {
      color: var(--sds-clr-gray-09);
      font-size: pxToRem(14px);
    }
  }

  &__SendDestination {
    display: flex;
    align-items: center;

    .IdenticonImg {
      width: 2rem;
      height: 2rem;
      padding: pxToRem(6px);
      border: 1px solid var(--sds-clr-gray-09);
      border-radius: pxToRem(100px);
      margin-right: pxToRem(12px);
    }
  }

  &__SendDestinationDetails {
    display: flex;
    flex-direction: column;
  }
}
