.Discover {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--sds-clr-gray-01);

  &__sheet-wrapper {
    background: var(--sds-clr-gray-01) !important;
    height: 100%;
    width: 100%;
    border: none !important;
    box-shadow: none !important;
  }
}
