name: Run Tests
env:
  INDEXER_URL: ${{ secrets.INDEXER_URL }}
on: [pull_request]
jobs:
  test-ci:
    name: test
    timeout-minutes: 20
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.45.3-jammy
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 18
      - run: npm install -g yarn && yarn
      - run: yarn setup
      - run: yarn build:freighter-api
      - run: yarn build:extension
      - run: yarn test:ci
      - run: yarn test:e2e
