name: Run Tests
on:
  pull_request:
    paths:
      - "extension/**/*"
jobs:
  test-ci:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16.14.0
      - run: yarn install
      - run: yarn build:freighter-api
      - run: yarn test:ci
