.SendType {
  &--label {
    cursor: pointer;
    text-transform: none;
  }

  &__title {
    display: flex;
    flex-direction: column;
    svg {
      width: 1rem;
    }

    &__subtext {
      color: var(--pal-text-tertiary);
    }
  }

  &--radio {
    &-field {
      visibility: hidden;
      width: 0;

      &:checked ~ .SendType--radio-check {
        visibility: visible;
      }
    }

    &-label {
      align-items: start;
      display: flex;
      justify-content: space-between;
    }

    &-check {
      visibility: hidden;
    }
  }
}
