.KeyIdenticon {
  --Icon-padding: 0.25rem;
  --Icon-dimension: 1.5rem;

  align-items: center;
  display: flex;

  &--icon {
    background: var(--color-white);
    border: 1px solid var(--sds-clr-gray-06);
    border-radius: 2rem;
    display: flex;
    padding: var(--Icon-padding);
    width: var(--Icon-dimension);
  }

  &--key {
    width: 100%;
    display: flex;
  }
}
